@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?43q1hy');
  src:  url('../assets/fonts/icomoon.eot?43q1hy#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?43q1hy') format('truetype'),
    url('../assets/fonts/icomoon.woff?43q1hy') format('woff'),
    url('../assets/fonts/icomoon.svg?43q1hy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
mat-card, mat-table{
  overflow: auto !important;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-child:before {
  content: "\e910";
}
.icon-pay:before {
  content: "\e911";
}
.icon-sort:before {
  content: "\e912";
}
.icon-stop:before {
  content: "\e913";
}
.icon-waiting:before {
  content: "\e914";
}
.icon-approval:before {
  content: "\e90e";
}
.icon-checklist:before {
  content: "\e90f";
}
.icon-stamp-times:before {
  content: "\e90d";
}
.icon-export:before {
  content: "\e90a";
}
.icon-smartphone:before {
  content: "\e90b";
}
.icon-stamp:before {
  content: "\e90c";
}
.icon-dashboard:before {
  content: "\e900";
}
.icon-account:before {
  content: "\e901";
}
.icon-revenue:before {
  content: "\e902";
}
.icon-setting:before {
  content: "\e903";
}
.icon-spend:before {
  content: "\e904";
}
.icon-line-item:before {
  content: "\e905";
}
.icon-cost-item:before {
  content: "\e906";
}
.icon-vendor:before {
  content: "\e907";
}
.icon-client:before {
  content: "\e908";
}
.icon-quotation:before {
  content: "\e909";
}
.icon-library:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f302";
}
.icon-procedure:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f328";
}
.icon-doc-category:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f466";
}

