div(style='margin-top: 30px;')
    div.row(*ngIf="columnChartCanLoad" )
        div(style='margin-left: 15px; margin-right: 15px; margin-bottom: 30px')
            svg(xmlns='http://www.w3.org/2000/svg', style='width: 100%; height: 30px;')
                text.chart-title(x='0' y='25' style='fill: #666666; font-weight: bold; font-size: 31px; font-family:Roboto, Helvetica Neue, sans-serif')
                    | {{ ("FINANCE.PROJECT.LABELS.OVERVIEW" | translate) + ' ' + ("CHART.BILLIONS" | translate) }}
            column-chart(
                [data] = 'columnChartData',
                (errorHandler)='checkColumnChart($event)'
            )
    div.row(*ngIf="receivablePayableChartCanLoad" )
        div(style='margin-left: 15px; margin-right: 15px; margin-bottom: 30px;')
            mat-button-toggle-group(
                style='float: right; right: 40px;',
                [(ngModel)]='rrpFilters.type',
                (change)='getProjectStatisticRRP()')
                mat-button-toggle(value='week')
                    | {{ "GENERAL.LABELS.WEEK" | translate }}
                mat-button-toggle(value='month')
                    | {{ "GENERAL.LABELS.MONTH" | translate }}

            div
                svg(xmlns='http://www.w3.org/2000/svg', style='width: 100%; height: 30px;')
                    text.chart-title(x='3' y='25' style='fill: #666666; font-weight: bold; font-size: 31px; font-family:Roboto, Helvetica Neue, sans-serif')
                        | {{ "FINANCE.PROJECT.LABELS.RECEIVABLE_PAYABLE" | translate }}
                canvas(
                    baseChart,
                    [labels]='rrpChartLabels',
                    [datasets]='rrpChartDatasets',
                    [colors]='rrpChartColors',
                    [options]='rrpChartOptions',
                    legend='true',
                    chartType='line')
    div.row(*ngIf="cashFlowChartCanLoad" )
        div(style='margin-left: 15px; margin-right: 15px; margin-bottom: 30px;')
                mat-button-toggle-group(
                    style='float: right; right: 40px;',
                    [(ngModel)]='filters.type',
                    (change)='getProjectStatistic()')
                    mat-button-toggle(value='week')
                        | {{ "GENERAL.LABELS.WEEK" | translate }}
                    mat-button-toggle(value='month')
                        | {{ "GENERAL.LABELS.MONTH" | translate }}
                div
                    svg(xmlns='http://www.w3.org/2000/svg', style='width: 100%; height: 30px;')
                        text.chart-title(x='3' y='25' style='fill: #666666; font-weight: bold; font-size: 31px; font-family:Roboto, Helvetica Neue, sans-serif')
                            | {{ "FINANCE.PROJECT.LABELS.CASH_FLOW" | translate }}
                    canvas(
                        baseChart,
                        [labels]='chartLabels',
                        [datasets]='chartDatasets',
                        [colors]='chartColors',
                        [options]='chartOptions',
                        legend='true',
                        chartType='line')