form.form-project-bill-status(
	*ngIf='(isLiabilitiesAccountant || bill?.status === BILL_STATUS?.MONEY_COLLECTED) && ((bill?.is_settlement && bill?.settlement_items && (bill?.status === BILL_STATUS?.SETTLEMENT || bill?.status === BILL_STATUS?.MONEY_COLLECTED)) || !bill?.is_settlement)',
	[formGroup]='billStatusForm')
	.layout-row.layout-align-start-center.mt-10.mb-20
		.font-size-18.font-weight-500
			| {{ "GENERAL.LABELS.STATUS" | translate | uppercase }}
			| ({{ "FINANCE.PROJECT.LABELS.LIABILITIES_ACCOUNTANT_ONLY" | translate | uppercase }})
		.ph-20.flex-auto
			mat-divider
		button(
			*ngIf='isLiabilitiesAccountant && !viewOnly && ((bill?.is_settlement && bill?.settlement_items && (bill?.status === BILL_STATUS?.SETTLEMENT || bill?.status === BILL_STATUS?.MONEY_COLLECTED)) || !bill?.is_settlement)',
			mat-raised-button,
			color='primary',
			(click)='updateStatus()',
			[disabled]='isSubmitting || isUploading || viewOnly || !canCollectMoney || !bill?.invoice || bill.status !== BILL_STATUS?.MONEY_COLLECTED')
			.layout-row.layout-align-center-center
				.flex-auto
					ng-template([ngIf]='!isSubmitting && !isUploading')
						| {{ ( bill?.id ? "GENERAL.LABELS.SAVE" : "GENERAL.LABELS.ADD" ) | translate }}
					ng-template([ngIf]='isSubmitting || isUploading')
						| {{ "GENERAL.LABELS.PLEASE_WAIT" | translate }}
				mat-spinner.ml-5(
					*ngIf='isSubmitting',
					diameter='20')
		button(
			*ngIf='isLiabilitiesAccountant && !viewOnly && canCollected',
			mat-raised-button,
			style='margin-left: 10px',
			color='primary',
			(click)='bill.status = data.status')
			.layout-row.layout-align-center-center
				.flex-auto
					| {{ "GENERAL.LABELS.RESET" | translate}}
	.layout-row.flex-100.layout-align-start-center([style.marginBottom]="(isSubmitting || isUploading || !isLiabilitiesAccountant || viewOnly || !canCollectMoney) ? '0' : '30px'")
		mat-form-field.flex-auto(
			plugin-input-radio,
			floatLabel='always',
			appearance='outline')
			mat-label
				| {{ "GENERAL.LABELS.STATUS" | translate }}
			input.hide(matInput)
			mat-radio-group(
				[(ngModel)]='bill.status',
				(change)='billStatusChange( $event )',
				[formControl]='billStatusForm?.controls[ "status" ]',
				[disableControl]='!isLiabilitiesAccountant || viewOnly || !canCollectMoney',
				ngDefaultControl)
				mat-radio-button.mr-15(
					[value]='3')
					| {{ "FINANCE.PROJECT.LABELS.MONEY_COLLECTED" | translate }}
	.div(*ngIf="!canCollectMoney && !viewOnly" )
		.text-warn
			| {{ 'MUST_CONFIRM_ALL_PROCEDURES' | translate }}
	.layout-row.layout-wrap.layout-fixer-15(*ngIf='bill?.status === BILL_STATUS?.MONEY_COLLECTED')
		mat-form-field.mb-10.ph-15.flex-50(
			plugin-input-parse-commas,
			floatLabel='always',
			appearance='outline')
			mat-label
				| {{ "FINANCE.PROJECT.LABELS.TOTAL" | translate }}
			input(
				matInput,
				type='number',
				step='1000',
				min='0',
				[(ngModel)]='bill.total_real',
				[formControl]='billStatusForm?.controls[ "total_real" ]',
				[disableControl]='isSubmitting || isUploading',
				[readonly]='!isLiabilitiesAccountant || viewOnly',
				required,
				ngDefaultControl)
			span(matPrefix)
				| {{ ( bill?.total_real?.toString() || "" ) | commas }}
			mat-hint
				| {{ ( bill?.total_real?.toString() || "" ) | commas }}
		mat-form-field.mb-10.ph-15.flex-50(
			plugin-input-parse-commas,
			floatLabel='always',
			appearance='outline')
			mat-label
				| {{ "GENERAL.LABELS.VAT" | translate }}
			input(
				matInput,
				type='number',
				step='1000',
				min='0',
				[(ngModel)]='bill.total_vat_real',
				[formControl]='billStatusForm?.controls[ "total_vat_real" ]',
				[disableControl]='isSubmitting || isUploading',
				[readonly]='!isLiabilitiesAccountant || viewOnly',
				required,
				ngDefaultControl)
			span(matPrefix)
				| {{ ( bill?.total_vat_real?.toString() || "" ) | commas }}
			mat-hint
				| {{ ( bill?.total_vat_real?.toString() || "" ) | commas }}
		mat-form-field.ph-15.flex-50(
			floatLabel='always',
			appearance='outline',
			(click)='receivedPicker?.open()')
			mat-label
				| {{ "FINANCE.PROJECT.LABELS.RECEIVED_DATE" | translate }}
			span
				| {{ bill?.received_date ? ( bill?.received_date | momentDateFormat ) : "FINANCE.PROJECT.PLACEHOLDERS.RECEIVED_DATE" | translate }}
			input.hide(
				matInput,
				[max]="maxDate",
				[matDatepicker]='receivedPicker',
				[(ngModel)]='bill.received_date',
				[formControl]='billStatusForm?.controls[ "received_date" ]',
				ngDefaultControl,
				required,
				readonly)
			mat-datepicker-toggle(
				matSuffix,
				[for]='receivedPicker')
			mat-datepicker(
				#receivedPicker,
				[disabled]='!isLiabilitiesAccountant || viewOnly')
		mat-form-field.ph-15.flex-50(
			plugin-input-parse-commas,
			floatLabel='always',
			appearance='outline')
			mat-label
				| {{ "FINANCE.PROJECT.LABELS.SUBTOTAL" | translate }}
			input(
				matInput,
				type='number',
				min='0',
				[formControl]='billForm?.controls[ "subtotal" ]',
				[disableControl]='isSubmitting || isUploading',
				readonly,
				ngDefaultControl)
			span(matPrefix)
				| {{ ( ( bill?.total_real + bill?.total_vat_real )?.toString() || "" ) | commas }}
