div.form-project-bill-invoice.mb-10(
	*ngIf='( isCFO || isLiabilitiesAccountant) && canCollectMoney'
	)
	.layout-row.layout-align-start-center.mt-10.mb-20
		.font-size-18.font-weight-500
			| {{ "FINANCE.PROJECT.LABELS.INVOICE" | translate | uppercase }}
			span(style='color: red') *
	div(
		*ngIf="bill?.invoice && bill?.invoice?.real_name",
		(click)="download(bill?.invoice?.real_name)", [title]='"GENERAL.ATTRIBUTES.DOWNLOAD" | translate' )
		.font-weight-500
			span(class='file_download')
				| {{ bill?.invoice?.name || "" }}
	upload-box(
		*ngIf="!bill?.invoice",
		[uploading]='isUploading',
		(onFileSelected)='onFileSelected( $event )')
