.table-project.mat-elevation-z8
    loading-overlay([visible]='!loaded')
        mat-table(
            #table,
            plugin-data-table,
            matSort,
            [dataSource]='dataSource',
            [attr.data-label]='!dataSource?.filteredData?.length ? ( "GENERAL.MESSAGES.NO_DATA" | translate ) : ""')
            // Select Column
            ng-container(matColumnDef='select')
                mat-header-cell.w-65(*matHeaderCellDef)
                    mat-checkbox(
                        (change)="$event ? masterToggle() : null",
                        (click)="$event.stopPropagation()",
                        [checked] = 'selection.hasValue() && isAllSelected()',
                        [indeterminate] = 'selection.hasValue() && !isAllSelected()'
                    )
                mat-cell.w-65(*matCellDef='let element')
                    mat-checkbox(
                        (change)='$event ? selection.toggle(element) : null',
                        [checked]='selection.isSelected(element)',
                        (click)="$event.stopPropagation()"
                    )
                mat-footer-cell.w-65(*matFooterCellDef)

            // Project Code
            ng-container(matColumnDef='project_code')
                mat-header-cell.w-50(*matHeaderCellDef)
                    | {{ "GENERAL.LABELS.CODE" | translate }}
                mat-cell.w-50.clickable(
                    *matCellDef='let element',
                    (click)='navigateViewProjectDetail( element )')
                    .font-weight-500
                        | {{ element?.project_code || "N/A" }}
                mat-footer-cell.w-50(*matFooterCellDef)
            // Project Column
            ng-container(matColumnDef='project')
                mat-header-cell.w-300(*matHeaderCellDef, mat-sort-header='name')
                    | {{ "FINANCE.PROJECT.ATTRIBUTES.PROJECT" | translate }}
                    | &nbsp;
                    i.fa.fa-sort
                mat-cell.w-300.clickable(
                    *matCellDef='let element',
                    (click)='navigateViewProjectDetail( element )')
                    .font-weight-500
                        | {{ element?.name || "N/A" }}
                    i.fa.fa-info-circle.note-icon(
                        *ngIf='hasLezoApp && element?.lezo_project_id',
                        [matTooltip]='"FINANCE.PROJECT.LABELS.LINKED_WITH_LEZO_PROJECT" | translate')
                mat-footer-cell.w-300(*matFooterCellDef)
            // Client Column
            ng-container(matColumnDef='client')
                mat-header-cell(*matHeaderCellDef, mat-sort-header='client_name')
                    | {{ "FINANCE.CLIENT.ATTRIBUTES.CLIENT" | translate }}
                    | &nbsp;
                    i.fa.fa-sort
                mat-cell(*matCellDef='let element')
                    span([class.text-strike]='element?.client?.is_disabled')
                        | {{ element?.client_name || "N/A" }}
                mat-footer-cell(*matFooterCellDef)
            // AIC Column
            ng-container(matColumnDef='aic')
                mat-header-cell(*matHeaderCellDef, mat-sort-header='project_manager_name')
                    | {{ "FINANCE.USER.ATTRIBUTES.PM" | translate }}
                    | &nbsp;
                    i.fa.fa-sort
                mat-cell(*matCellDef='let element')
                    .layout-row.layout-align-start-center
                        avatar-box.mr-5(
                            size='24',
                            [source]='element?.user?.avatar',
                            [title]='element?.user?.full_name')
                        span([class.text-strike]='element?.user?.is_disabled')
                            | {{ element?.user?.full_name || "N/A" }}
                mat-footer-cell(*matFooterCellDef)
                    .text-success(*ngIf='!isHideQuotation')
                        | {{ "FINANCE.PROJECT.ATTRIBUTES.TOTAL" | translate }}
            // Total Value Vat Column
            ng-container(matColumnDef='receivable')
                mat-header-cell(*matHeaderCellDef, mat-sort-header='receivable', style='justify-content: flex-end;')
                        | {{ ("FINANCE.PROJECT.LABELS.RECEIVED" | translate) + ' (M)' }}
                        | &nbsp;
                        i.fa.fa-sort
                mat-cell(*matCellDef='let element', style='justify-content: flex-end;')
                    span(*ngIf='element.receivable || element.receivable_plan') {{ (element?.receivable?.toFixed( 0 ) | commas) + ' / ' + (element?.receivable_plan?.toFixed( 0 ) | commas) }}
                    span(*ngIf='element.receivable === 0 && element.receivable_plan === 0') {{ '' }}
                mat-footer-cell(*matFooterCellDef, style='justify-content: flex-end;')
                    .text-success(*ngIf='!isHideQuotation')
                        | {{ (footerRow?.total_receivable?.toFixed( 0 ) | commas) + ' / ' + (footerRow?.total_receivable_plan?.toFixed( 0 ) | commas) }}
            // Received Vat Column
            ng-container(matColumnDef='payable')
                mat-header-cell(*matHeaderCellDef, mat-sort-header='payable', style='justify-content: flex-end;')
                        | {{ ("FINANCE.PROJECT.LABELS.PAYABLES" | translate) + ' (M)' }}
                        | &nbsp;
                        i.fa.fa-sort
                mat-cell(*matCellDef='let element', style='justify-content: flex-end;')
                    span(
                        *ngIf='element.payable || element.payable_plan'
                    ) {{ (element?.payable?.toFixed( 0 ) | commas) + ' / ' + (element?.payable_plan?.toFixed( 0 ) | commas) }}
                    span(*ngIf='element.payable === 0 && element.payable_plan === 0') {{ '' }}
                mat-footer-cell(*matFooterCellDef, style='justify-content: flex-end;')
                    .text-camdi(*ngIf='!isHideQuotation')
                        | {{ (footerRow?.total_payable?.toFixed( 0 ) | commas) + ' / ' + (footerRow?.total_payable_plan?.toFixed( 0 ) | commas) }}
            // Quotation Status Column
            ng-container(matColumnDef='quotation_status')
                mat-header-cell.w-120(*matHeaderCellDef, mat-sort-header='quotation_status')
                    .text-center.flex-auto
                        | {{ "FINANCE.PROJECT.ATTRIBUTES.QUOTATION_STATUS" | translate }}
                        | &nbsp;
                        i.fa.fa-sort
                mat-cell.w-120(*matCellDef='let element')
                    status-box(
                        [color]='element?.quotation_status_name?.color',
                        [status]='element?.quotation_status_name?.name | translate')
                mat-footer-cell.w-120(*matFooterCellDef)
            // Project Status Column
            ng-container(matColumnDef='project_status')
                mat-header-cell.w-120(*matHeaderCellDef, mat-sort-header='project_status')
                    .text-center.flex-auto
                        | {{ "FINANCE.PROJECT.ATTRIBUTES.PROJECT_STATUS" | translate }}
                        | &nbsp;
                        i.fa.fa-sort
                mat-cell.w-120(*matCellDef='let element')
                    status-box(
                        [color]='element?.project_status_name?.color',
                        [status]='element?.project_status_name?.name | translate')
                mat-footer-cell.w-120(*matFooterCellDef)
            // Actions Column
            ng-container(matColumnDef='actions')
                mat-header-cell.w-65(*matHeaderCellDef)
                    | {{ "GENERAL.ATTRIBUTES.ACTION" | translate }}
                mat-cell.w-65(*matCellDef='let element')
                    action-box([disabled]='!canEdit( element )')
                        action-button(
                            color='success',
                            icon='fa fa-edit',
                            [title]='"GENERAL.LABELS.EDIT" | translate',
                            [disabled]='!loaded || isDeleting',
                            (onClick)='openDialog( element )')
                        action-button(
                            color='warn',
                            icon='fa fa-trash',
                            [title]='"GENERAL.LABELS.DELETE" | translate',
                            [disabled]='!loaded || isDeleting',
                            (onClick)='delete( element )')
                mat-footer-cell.w-65(*matFooterCellDef)

            // Filters
            ng-container(matColumnDef='filters')
                mat-header-cell(*matHeaderCellDef)
                    // Project Code
                    mat-cell.w-150
                        filter-box(
                            [disabled]='!loaded || isDeleting',
                            [(ngModel)]='queryOptions.search.project_code',
                            ngDefaultControl,
                            (filterChange)='seachProjectCode($event)')
                    // Project Column
                    mat-cell.w-300
                        filter-box(
                            [disabled]='!loaded || isDeleting',
                            [(ngModel)]='queryOptions.search.project_name',
                            ngDefaultControl,
                            (filterChange)='seachProjectName($event)')
                    // Client Column
                    mat-cell
                        filter-box(
                            type='filter',
                            fieldName='short_name',
                            multiple='true',
                            [(filter)]='filters[ "client.id" ]',
                            [data]='projectsInfo?.clients',
                            (filterChange)= 'customFilter()')
                    // AIC Column
                    mat-cell
                        filter-box(
                            type='filter',
                            fieldName='full_name',
                            fieldSubName='email',
                            multiple='true',
                            fieldImage='avatar',
                            [(filter)]='filters[ "user.id" ]',
                            [data]='projectsInfo?.managers',
                            (filterChange)= 'customFilter()')
                    mat-cell(*ngIf='!isHideQuotation')
                    mat-cell(*ngIf='!isHideQuotation')
                    // Quotation Status Column
                    mat-cell.w-120
                        filter-box(
                            type='filter',
                            multiple='true',
                            translated='true',
                            [(filter)]='filters[ "quotation_status_name.id" ]',
                            [data]='quotationStatus',
                            (filterChange)= 'customFilter()',
                            ngDefaultControl)
                    // Project Status Column
                    mat-cell.w-120
                        filter-box(
                            type='filter',
                            multiple='true',
                            translated='true',
                            [(filter)]='filters[ "project_status_name.id" ]',
                            (filterChange)= 'customFilter()',
                            [data]='projectStatus',
                            ngDefaultControl)
                    // Actions Column
                    mat-cell.w-65

            mat-header-row(*matHeaderRowDef='displayedColumns')
            mat-header-row(*matHeaderRowDef='[ "filters" ]')
            mat-row(*matRowDef='let row; columns: displayedColumns;')
            mat-footer-row(
                footerRowInTop,
                *matFooterRowDef='displayedColumns',
                [class.hide]='!dataSource?.filteredData?.length || isHideQuotation')
            mat-footer-row(
                *matFooterRowDef='displayedColumns',
                [class.hide]='!dataSource?.filteredData?.length || isHideQuotation')
        mat-paginator(
            [length]="length",
            [pageSize] = "pageSize",
            [pageIndex] = "pageIndex",
            [pageSizeOptions] = "pageSizeOptions",
            (page) = "pageChanged($event)",
            showFirstLastButtons)
