.table-receivables.mat-elevation-z8
	loading-overlay([visible]='!loaded')
		mat-table(
			#table,
			plugin-data-table,
			matSort,
			[dataSource]='dataSource',
			[attr.data-label]='!dataSource?.filteredData?.length ? ( "GENERAL.MESSAGES.NO_DATA" | translate ) : ""')
			// Project Column
			ng-container(matColumnDef='project')
				mat-header-cell.w-400(*matHeaderCellDef, mat-sort-header='name')
					| {{ "FINANCE.PROJECT.ATTRIBUTES.PROJECT" | translate }}
					| &nbsp;
					i.fa.fa-sort
				mat-cell.w-400.clickable(
					*matCellDef='let element',
					(click)='navigateViewProjectDetail( element?.project, { tab: "receivables", bill_id: element?.id } )')
					.font-weight-500
						| {{ element?.name || "N/A" }}
						| -
						| {{ element?.project?.name || "N/A" }}
				mat-footer-cell.w-400(*matFooterCellDef)
			// Client Column
			ng-container(matColumnDef='client')
				mat-header-cell(*matHeaderCellDef, mat-sort-header='client_name', style='min-width: 130px;')
					| {{ "FINANCE.CLIENT.ATTRIBUTES.CLIENT" | translate }}
					| &nbsp;
					i.fa.fa-sort
				mat-cell(*matCellDef='let element', style='min-width: 130px;')
					span([class.text-strike]='element?.project?.client?.is_disabled')
						| {{ element?.project?.client_name || "N/A" }}
				mat-footer-cell(*matFooterCellDef, style='min-width: 130px;')
			// AIC Column
			ng-container(matColumnDef='aic')
				mat-header-cell(*matHeaderCellDef, mat-sort-header='manager_name', style='min-width: 180px;')
					| {{ "FINANCE.USER.ATTRIBUTES.PM" | translate }}
					| &nbsp;
					i.fa.fa-sort
				mat-cell(*matCellDef='let element', style='min-width: 180px;')
					.layout-row.layout-align-start-center
						avatar-box.mr-5(
							size='24',
							*ngIf='element?.project?.user',
							[source]='element?.project?.user?.avatar',
							[title]='element?.project?.user?.full_name')
						span([class.text-strike]='element?.project?.user?.is_disabled')
							| {{ element?.project?.user?.full_name || "N/A" }}
				mat-footer-cell(*matFooterCellDef, style='min-width: 180px;')
					.text-success
						| {{ "FINANCE.PROJECT.LABELS.TOTAL" | translate }}
			// Amount Column
			ng-container(matColumnDef='amount')
				mat-header-cell(*matHeaderCellDef, mat-sort-header='last_total', style='min-width: 120px;')
					.text-center.flex-auto
						| {{ "FINANCE.PROJECT.ATTRIBUTES.AMOUNT" | translate }}
						| &nbsp;
						i.fa.fa-sort
				mat-cell.layout-align-end(*matCellDef='let element', style='min-width: 120px;')
					.text-truncate([matTooltip]='element?.last_total | commas')
						| {{ ( element?.last_total || 0 )?.toFixed( 0 ) | commas }}
				mat-footer-cell.layout-align-end(*matFooterCellDef, style='min-width: 120px;')
					.text-warning.text-truncate([matTooltip]='footerRow?.total | commas')
						| {{ ( footerRow?.total || 0 )?.toFixed( 0 ) | commas }}
			// Expected Invoice Date Column
			ng-container(matColumnDef='expected_invoice_date')
				mat-header-cell(*matHeaderCellDef, mat-sort-header='expected_invoice_date', style='min-width: 170px;')
					| {{ "FINANCE.PROJECT.ATTRIBUTES.EXPECTED_INVOICE_DATE" | translate }}
					| &nbsp;
					i.fa.fa-sort
				mat-cell(*matCellDef='let element', style='min-width: 170px;')
					| {{ element?.expected_invoice_date | momentDateFormat }}
				mat-footer-cell(*matFooterCellDef, style='min-width: 170px;')
			// Receivable Date Column
			ng-container(matColumnDef='receivable_date')
				mat-header-cell(*matHeaderCellDef, mat-sort-header='receivable_date', style='min-width: 120px;')
					| {{ "FINANCE.PROJECT.ATTRIBUTES.RECEIVABLE_DATE" | translate }}
					| &nbsp;
					i.fa.fa-sort
				mat-cell(*matCellDef='let element', style='min-width: 120px;')
					.layout-column
						div
							| {{ element?.receivable_date | momentDateFormat }}
						div(*ngIf='element?.receivable_date')
							| (
							span([ngClass]='{ "text-warn": element?.count_day < 0, "text-success": element?.count_day >= 0 }')
								| {{ ( element?.count_day || 0 )?.toFixed( 0 ) | commas }}
								| {{ "GENERAL.LABELS.DAYS" | translate | lowercase }}
							| )
				mat-footer-cell(*matFooterCellDef, style='min-width: 120px;')
			// Status Column
			ng-container(matColumnDef='status')
				mat-header-cell(*matHeaderCellDef, mat-sort-header='status', style='min-width: 150px;')
					.text-center.flex-auto
						| {{ "GENERAL.ATTRIBUTES.STATUS" | translate }}
						| &nbsp;
						i.fa.fa-sort
				mat-cell(*matCellDef='let element', style='min-width: 150px;')
					status-box(
						[color]='element?.status_name?.color',
						[status]='element?.status_name?.name | translate')
				mat-footer-cell(*matFooterCellDef, style='min-width: 150px;')

			// Filters
			ng-container(matColumnDef='filters')
				mat-header-cell(*matHeaderCellDef)
					// Project Column
					mat-cell(style='min-width: 400px;')
						filter-box(
							type='filter',
							multiple='true',
							[(filter)]='filters[ "project.id" ]',
							(applyFilter)='onProjectChange()',
							[disabled]='!loaded',
							[data]='dataSource?.data | partition: "project"')
					// Client Column
					mat-cell(style='min-width: 130px;')
						filter-box(
							type='filter',
							fieldName='short_name',
							[disabled]='!loaded',
							[data]='dataSource?.data | partition: "project.client"',
							multiple='true',
							[(filter)]='filters[ "project.client.id" ]',
							(applyFilter)='customFilter()')
					// AIC Column
					mat-cell(style='min-width: 180px;')
						filter-box(
							type='filter',
							fieldName='full_name',
							fieldSubName='email',
							fieldImage='avatar',
							[disabled]='!loaded',
							[data]='dataSource?.data | partition: "project.user"',
							multiple='true',
							[(filter)]='filters[ "project.user.id" ]',
							(applyFilter)='customFilter()')
					// Amount Column
					mat-cell(style='min-width: 120px;')
						filter-box(
							type='range',
							[(filter)]='filters.last_total',
							[min]='0',
							[max]='( dataSource?.data | max: "last_total" ) || 1000',
							(applyFilter)='customFilter()',
							[disabled]='!loaded')
					// Expected Invoice Date Column
					mat-cell(style='min-width: 170px;')
						filter-box(
							type='datepicker',
							rangeMode='true',
							[disabled]='!loaded',
							[(filter)]='filters.expected_invoice_date',
							(applyFilter)='getList()')
					// Receivable Date Column
					mat-cell(style='min-width: 120px;')
						filter-box(
							type='datepicker',
							rangeMode='true',
							[disabled]='!loaded',
							[(filter)]='filters.receivable_date',
							(applyFilter)='customFilter()')
					// Status Column
					mat-cell(style='min-width: 150px;')
						filter-box(
							type='filter',
							translated='true',
							multiple='true',
							[(filter)]='filters[ "status_name.id" ]',
							(applyFilter)='customFilter()',
							[disabled]='!loaded || isDeleting',
							[data]='receivableStatus',
							ngDefaultControl)
				mat-footer-cell(*matFooterCellDef)

			mat-header-row(*matHeaderRowDef='displayedColumns')
			mat-header-row(*matHeaderRowDef='[ "filters" ]')
			mat-row(*matRowDef='let row; columns: displayedColumns;')
			mat-footer-row(
				footerRowInTop,
				*matFooterRowDef='displayedColumns',
				[class.hide]='!dataSource?.filteredData?.length')
			mat-footer-row(
				*matFooterRowDef='displayedColumns',
				[class.hide]='!dataSource?.filteredData?.length')

		mat-paginator(
			#paginator,
			pageSize='30',
			[pageSizeOptions]='[ 30, 50, 100 ]',
			showFirstLastButtons='true')
