.table-procedure.p-10
	div(matDialogContent)
		ng-container(*ngIf='bill.is_settlement')
			.text-warn(*ngIf="!settlementItemsDataSource?.data?.length" )
				| {{ 'GENERAL.LABELS.NO_PROCEDURE_ATTACHED' | translate}}
			.layout-row.mb-15.layout-fixer-10.flex-auto
				.layout-row(*ngIf="isGeneralAccountant" )
					.ph-10
						button(
							mat-raised-button,
							color='primary',
							(click)='downloadSettlement()')
							i.fa.fa-download.mr-15
							| {{ "FINANCE.LINE_ITEM.LABELS.DOWNLOAD_TEMPLATE" | translate }}
					.ph-10
						button(
							mat-raised-button,
							color='primary',
							(click)='openDialogUploadFile()')
							i.fa.fa-upload.mr-15
							| {{ "FINANCE.LINE_ITEM.LABELS.IMPORT_SETTLEMENT_ITEMS" | translate }}
			.layout-row.mb-15.layout-fixer-10.flex-auto(*ngIf="settlementItemsDataSource?.data?.length" )
				.layout-row
					.ph-10.text-accent(style='margin: auto; font-weight: bold')
						| {{ ('GENERAL.LABELS.DISCOUNT' | translate) + ': ' + (bill.settlement_discount | commas) }}
					.ph-10.text-success(style='margin: auto; font-weight: bold')
						| {{ ('GENERAL.LABELS.DISCOUNT_TYPE' | translate) + ': ' + bill.settlement_discount_type }}
			.layout-row.mb-15.layout-fixer-10.flex-auto(*ngIf="settlementItemsDataSource?.data?.length" )
				.layout-row
					.ph-10.text-warning(style='margin: auto; font-weight: bold')
						| {{ ('FINANCE.PROJECT.ATTRIBUTES.TOTAL_EXCLUDED_VAT' | translate) + ': ' + (totalExtSettlementItems | commas) }}
					.ph-10.text-warning(style='margin: auto; font-weight: bold')
						| {{ ('FINANCE.PROJECT.ATTRIBUTES.TOTAL_VAT' | translate) + ': ' + (totalVATSettlementItems | commas) }}
					.ph-10.text-warning(style='margin: auto; font-weight: bold')
						| {{ ('FINANCE.PROJECT.ATTRIBUTES.TOTAL_INCLUDED_VAT' | translate) + ': ' + (totalIncludeSettlementItems | commas) }}
			mat-table.mb-20(
				*ngIf="settlementItemsDataSource?.data?.length",
				#table0,
				plugin-data-table,
				[dataSource]='settlementItemsDataSource',
				[attr.data-label]='!settlementItemsDataSource?.data?.length ? ( "GENERAL.MESSAGES.NO_DATA" | translate ) : ""')
				// No Column
				ng-container(matColumnDef='no')
					mat-header-cell(*matHeaderCellDef, style='min-width: 50px;')
						| {{ "GENERAL.ATTRIBUTES.#" | translate }}
					mat-cell(*matCellDef='let element; let i = index', style='min-width: 50px;')
						| {{ i + 1 }}
				// Name Column
				ng-container(matColumnDef='name')
					mat-header-cell(*matHeaderCellDef, style='min-width: 120px;')
						| {{ "GENERAL.ATTRIBUTES.NAME" | translate }}
					mat-cell(
						*matCellDef='let element; let idx = index;', style='min-width: 120px;')
						.font-weight-500
							| {{ element?.name || "" }}

				// Unit to Column
				ng-container(matColumnDef='unit')
					mat-header-cell(*matHeaderCellDef, style='min-width: 50px;')
						| {{ "GENERAL.ATTRIBUTES.UNIT" | translate }}
					mat-cell(*matCellDef='let element; let id = index;', style='min-width: 50px;')
						.font-weight-500
							| {{ element.unit }}

				// Amount Column
				ng-container(matColumnDef='amount')
					mat-header-cell(*matHeaderCellDef)
						| {{ "GENERAL.LABELS.AMOUNT" | translate }}
					mat-cell(*matCellDef='let element')
						.font-weight-500
							| {{ (element?.amount || 0) | commas }}
				// Price Column
				ng-container(matColumnDef='price')
					mat-header-cell(*matHeaderCellDef)
						| {{ "GENERAL.LABELS.PRICE" | translate }}
					mat-cell(*matCellDef='let element')
						.font-weight-500
							| {{ (element?.price || 0) | commas }}
				// Total Column
				ng-container(matColumnDef='total')
					mat-header-cell(*matHeaderCellDef)
						| {{ "GENERAL.LABELS.TOTAL" | translate }}
					mat-cell(*matCellDef='let element')
						.font-weight-500
							| {{ (element?.total || 0) | commas }}
				// Note Column
				ng-container(matColumnDef='note')
					mat-header-cell(*matHeaderCellDef, style='min-width: 160px;')
						| {{ "GENERAL.LABELS.NOTE" | translate }}
					mat-cell(*matCellDef='let element', style='min-width: 160px;')
						| {{ element.note }}
				mat-header-row(*matHeaderRowDef='settlementItemsDisplayedColumns')
				mat-row(*matRowDef='let row; columns: settlementItemsDisplayedColumns;')
		.layout-row.layout-align-end-center.mb-10
			.layout-row(*ngIf='isPM || isCEO || isGeneralAccountant')
				button(
					mat-raised-button,
					color='primary',
					type='button',
					[disabled]='viewOnly',
					(click)='newBillProcedure()')
					| {{ "GENERAL.LABELS.ADD" | translate }}
		.row
			.col-md-12(style='overflow: auto !important')
				mat-table.mb-20(
					class='list-procedures',
					#table,
					plugin-data-table,
					[dataSource]='dataSource',
					[attr.data-label]='!dataSource?.filteredData?.length ? ( "GENERAL.MESSAGES.NO_DATA" | translate ) : ""')
					// No Column
					ng-container(matColumnDef='no')
						mat-header-cell(*matHeaderCellDef, style='min-width: 50px;')
							| {{ "GENERAL.ATTRIBUTES.#" | translate }}
						mat-cell(*matCellDef='let element; let i = index', [style.color]='bill.is_settlement ? "#9400ae" : "black"', style='min-width: 50px;')
							| {{ i + 1 }}
					// Procedure Column
					ng-container(matColumnDef='name')
						mat-header-cell(*matHeaderCellDef, style='min-width: 120px;')
							| {{ "GENERAL.ATTRIBUTES.NAME" | translate }}
						mat-cell(
							*matCellDef='let element; let idx = index;', [style.color]='bill.is_settlement ? "#9400ae" : "black"', style='min-width: 120px;')
							.font-weight-500(*ngIf='!element.is_new')
								| {{ element?.name || "" }}
							.font-weight-500(*ngIf='element.is_new', style='width: 100%')
								.form-group(style='margin-bottom: unset !important;')
									input.form-control(
										[(ngModel)]='element.name',
										[placeholder]='"GENERAL.PLACEHOLDERS.NAME" | translate',
										required
									)
									.text-warning(*ngIf="!checkName(element, idx)" )
										span(*ngIf='!element.name')
											| {{ 'FORM_ERROR_MESSAGES.REQUIRED' | translate : { field: ('GENERAL.LABELS.NAME' | translate)} }}
										span(*ngIf='element.name') {{ ('GENERAL.LABELS.DUPLICATE' | translate) + ': \"' + element.name + '\"'}}

					// Belong to Column
					ng-container(matColumnDef='belong_to')
						mat-header-cell(*matHeaderCellDef, style='min-width: 100px;')
							| {{ "GENERAL.ATTRIBUTES.BELONG_TO" | translate }}
						mat-cell(*matCellDef='let element; let id = index;', [style.color]='bill.is_settlement ? "#9400ae" : "black"', style='min-width: 100px;')
							.font-weight-500(*ngIf='!element.is_new || dataSource.data.length < 2')
								| {{ element.belong_to }}
							.font-weight-500(*ngIf='element.is_new && dataSource.data.length > 1 && getBelongList(id).length', style='width: 100%')
								.form-group(style='margin-bottom: unset !important;')
									select.form-control(
										[(ngModel)]='element.belong_to',
										required)
										option(
											value=""
										)
											| {{ "GENERAL.ATTRIBUTES.SELECT_ITEM" | translate }}
										ng-container(*ngFor="let belong of getBelongList(id)" )
											option([value]='belong')
												| {{ belong }}

					// Assignee Column
					ng-container(matColumnDef='assignee')
						mat-header-cell(*matHeaderCellDef, style='min-width: 150px;')
							| {{ "GENERAL.ATTRIBUTES.ASSIGNEE" | translate }}
						mat-cell(*matCellDef='let element', [style.color]='bill.is_settlement ? "#9400ae" : "black"', style='min-width: 150px;')
							.font-weight-500(*ngIf='!element.is_new')
								| {{ element?.assignee.full_name || "" }}
							.font-weight-500(*ngIf='element.is_new', style='width: 100%')
								.form-group(style='margin-bottom: unset !important;')
									select.form-control(
										[(ngModel)]='element.assignee',
										required)
										option(
											value="{full_name: '-1'}"
										)
											| {{ "GENERAL.ATTRIBUTES.SELECT_ITEM" | translate }}
										ng-container(*ngFor="let user of users" )
											option([value]='user.id')
												| {{ user.full_name }}
									.text-warning(*ngIf="element?.assignee?.full_name?.toString() === '-1'" )
										| {{ 'FORM_ERROR_MESSAGES.REQUIRED' | translate : { field: ('GENERAL.LABELS.ASSIGNEE' | translate)} }}
					// Type Column
					ng-container(matColumnDef='type')
						mat-header-cell(*matHeaderCellDef, style='min-width: 140px;')
							| {{ "GENERAL.ATTRIBUTES.TYPE" | translate }}
						mat-cell(*matCellDef='let element', [style.color]='bill.is_settlement ? "#9400ae" : "black"', style='min-width: 140px;')
							.font-weight-500(*ngIf='!element.is_new')
								| {{ element?.type || "" }}
							.font-weight-500(*ngIf='element.is_new', style='width: 100%')
								.form-group(style='margin-bottom: unset !important;')
									select.form-control(
										[(ngModel)]='element.type',
										required)
										option(
											value="-1"
										)
											| {{ "GENERAL.ATTRIBUTES.SELECT_ITEM" | translate }}
										ng-container(*ngFor="let category of doc_Categories" )
											option([value]='category.id')
												| {{ category.name }}
									.text-warning(*ngIf="element.type.toString() === '-1'" )
										| {{ 'FORM_ERROR_MESSAGES.REQUIRED' | translate : { field: ('GENERAL.LABELS.TYPE' | translate)} }}
					// Deadline Column
					ng-container(matColumnDef='deadline')
						mat-header-cell(*matHeaderCellDef, style='min-width: 160px;')
							| {{ "FINANCE.PROJECT.ATTRIBUTES.DEADLINE" | translate }}
						mat-cell(*matCellDef='let element', [style.color]='bill.is_settlement ? "#9400ae" : "black"', style='min-width: 160px;')
							.font-weight-500(*ngIf='!element.is_new')
								div
									| {{ element.deadline ? (element.deadline | momentDateFormat) : ''}}
								ng-container(*ngIf='element.deadline && element.status === 2')
									div
										span(class="text-success")
											| {{ element.updated_at | momentDateFormat}}
									div
										span([ngClass]='{ "text-warn": datediff2(element) < 0, "text-success": datediff2(element) >= 0 }')
											| {{ '(' + (( datediff2(element))?.toFixed( 0 ) | commas) }}
											| {{ ("GENERAL.LABELS.DAYS" | translate | lowercase) + ')' }}
								div(*ngIf='element.deadline && element.status !== 2')
									span([ngClass]='{ "text-warn": datediff(element.deadline) < 0, "text-success": datediff(element.deadline) >= 0 }')
										| {{ '(' + (( datediff(element.deadline))?.toFixed( 0 ) | commas) }}
										| {{ ("GENERAL.LABELS.DAYS" | translate | lowercase) + ')' }}
							.font-weight-500(*ngIf='element.is_new', style='width: 100%')
								.form-group(style='margin-bottom: unset !important;')
									input.form-control(
										(keydown)="$event.preventDefault();",
										type='date',
										[min]='deadlineDay()',
										[(ngModel)]='element.deadline',
										[placeholder]='"GENERAL.PLACEHOLDERS.NAME" | translate',
										required
									)
									.text-warning(*ngIf="!element.deadline" )
										| {{ 'FORM_ERROR_MESSAGES.REQUIRED' | translate : { field: ('GENERAL.LABELS.DEADLINE' | translate)} }}
					// Attachments Column
					ng-container(matColumnDef='attachments')
						mat-header-cell(*matHeaderCellDef, style='min-width: 220px;')
							| {{ "GENERAL.ATTRIBUTES.ATTACHMENTS" | translate }}
						mat-cell(*matCellDef='let element', [style.color]='bill.is_settlement ? "#9400ae" : "black"', style='min-width: 220px;')
							ul(class='attachments-ul')
								ng-container(*ngFor="let attachment of element.attachments; let attachmentIndex = index;" )
									li(class='file_download', (click)="downloadAttachment(attachment.real_name)", [title]='"GENERAL.ATTRIBUTES.DOWNLOAD" | translate')
										| {{ attachment?.name || "" }}
					// Comment Column
					ng-container(matColumnDef='comment')
						mat-header-cell(*matHeaderCellDef, style='min-width: 160px;')
							| {{ "GENERAL.LABELS.COMMENT" | translate }}
						mat-cell(*matCellDef='let element', [style.color]='bill.is_settlement ? "#9400ae" : "black"', style='min-width: 160px;')
							| {{ element.comment }}

					// Status Column
					ng-container(matColumnDef='status')
						mat-header-cell(*matHeaderCellDef, style='min-width: 120px;')
							| {{ "GENERAL.ATTRIBUTES.STATUS" | translate }}
						mat-cell(*matCellDef='let element', style='min-width: 120px;')
							status-box(
								*ngIf='!element.is_new',
								[color]='element?.bill_procedure_status_name?.color',
								[status]='element?.bill_procedure_status_name?.name | translate')

					// Actions Column
					ng-container(matColumnDef='actions')
						mat-header-cell(*matHeaderCellDef, style='min-width: 90px;')
							| {{ "GENERAL.ATTRIBUTES.ACTION" | translate }}
						mat-cell(*matCellDef='let element; let i = index;', style='min-width: 90px;')
							action-box
								action-button(
									*ngIf='element.status !== BILL_PROCEDURE_STATUS?.CONFIRMED',
									color='warn',
									icon='fa fa-trash',
									[title]='"GENERAL.LABELS.DELETE" | translate',
									(onClick)='element.is_new ? delete( i ) : deleteReal(element.id, element.name)')
					mat-header-row(*matHeaderRowDef='displayedColumns')
					mat-row(*matRowDef='let row; columns: displayedColumns;')

	div(
		matDialogActions,
		align='end')
		button(
			mat-raised-button,
			type='button',
			[disabled]='isSubmitting || isUploading',
			(click)='hasChange ? closeDiaglog() : onNoClick()')
			| {{ "GENERAL.LABELS.CLOSE" | translate }}
		button(
			mat-raised-button,
			color='accent',
			(click)='submitBillProcedures()',
			[disabled]='!canSubmit()')
			.layout-row.layout-align-center-center
				.flex-auto
					| {{ "GENERAL.LABELS.SUBMIT" | translate }}
				mat-spinner.ml-5(
					*ngIf='isSubmitting',
					diameter='20')
