@import '~angular-core/lib/scss/partials/variable';

.project-libraries {
	&__input-color {
		height: 32px;
		width: 64px;
		border: 1px solid $gray;
		position: relative;
		top: 5px;
	}

	&__logo {
		max-width: 240px;
		border: 1px solid $gray;
		border-radius: 8px;
		padding: 15px;
	}
}
.project-container{
	overflow: auto;
	max-height: 500px;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	background: white;
	padding: 1rem;
}
.directory {
	line-height: 70px;
	height: 70px;
	border: 1px solid #3f3f3f;
	border-radius: 8px;
	background: #d4ab53;
	text-align: center;
	&:hover{
		background: #fbf2d4;
	}
}

.directory p {
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}

i.fas.fa-arrow-up {
	color: #095385;
	cursor: pointer;
	&:hover{
		color: #0c6bac;
	}
}
.download-item{
	cursor: pointer;
	color: $accent;
	opacity: 1;
	&:hover{
		opacity: 0.75;
	}
}
.table-files{
	width: 750px;
}
.table-files thead tr{
	color: white;
	background: $accent;
}
.fa.fa-search {
	cursor: pointer;
	opacity: 1;
}
.fa.fa-search:hover {
	opacity: 0.75;
	color: $accent
}
.no-data{
	text-align: center;
	font-weight: bold;
	font-size: 20pt;
}