.table-doc-category.mat-elevation-z8.pt-1
	loading-overlay([visible]='!loaded')
		mat-table(
			#table,
			plugin-data-table,
			matSort,
			[dataSource]='dataSource',
			[attr.data-label]='!dataSource?.filteredData?.length ? ( "GENERAL.MESSAGES.NO_DATA" | translate ) : ""')
			// Name Column
			ng-container(matColumnDef='name')
				mat-header-cell(*matHeaderCellDef, mat-sort-header='name')
					| {{ "FINANCE.DOC_CATEGORY.ATTRIBUTES.NAME" | translate }}
					| &nbsp;
					i.fa.fa-sort
				mat-cell(*matCellDef='let element')
					.font-weight-500
						| {{ element?.name || "" }}
			// Description Column
			ng-container(matColumnDef='description')
				mat-header-cell(*matHeaderCellDef, mat-sort-header='description')
					| {{ "FINANCE.DOC_CATEGORY.ATTRIBUTES.DESCRIPTION" | translate }}
					| &nbsp;
					i.fa.fa-sort
				mat-cell(*matCellDef='let element')
					.font-weight-500
						| {{ element?.description || "" }}
			// Actions Column
			ng-container(matColumnDef='actions')
				mat-header-cell.w-65(*matHeaderCellDef)
					| {{ "GENERAL.ATTRIBUTES.ACTION" | translate }}
				mat-cell.w-65(*matCellDef='let element')
					action-box
						action-button(
							color='success',
							icon='fa fa-edit',
							[title]='"GENERAL.LABELS.EDIT" | translate',
							[disabled]='!loaded || isSubmitting',
							(onClick)='openDialog( element )')
						action-button(
							color='warn',
							icon='fa fa-trash',
							[title]='"GENERAL.LABELS.DELETE" | translate',
							[disabled]='!loaded || isSubmitting',
							(onClick)='delete( element )')

			mat-header-row(*matHeaderRowDef='displayedColumns')
			mat-row(*matRowDef='let row; columns: displayedColumns;')

		mat-paginator(
			#paginator,
			pageSize='30',
			[pageSizeOptions]='[ 5, 10, 15, 30, 50, 100 ]',
			showFirstLastButtons='true')
