.dialog-upload-file.mb-10
	h1(matDialogTitle)
		| {{ "FINANCE.PROJECT.TITLES.IMPORT_SETTLEMENT_ITEMS_FILE" | translate }}
	.layout-row.layout-wrap.layout-fixer-15
		select-box.mb-10.ph-15.flex-100(
			[(ngModel)]='discount_type',
			[label]='"FINANCE.PROJECT.LABELS.DISCOUNT_TYPE" | translate',
			[data]='DISCOUNT_TYPE',
			required,
			ngDefaultControl)

		mat-form-field.mb-10.ph-15.flex-100(
			plugin-input-parse-commas,
			floatLabel='always',
			appearance='outline')
			mat-label
				| {{ "FINANCE.PROJECT.LABELS.DISCOUNT_AMOUNT" | translate }}
			input(
				matInput,
				type='number',
				step='1',
				min='0',
				[(ngModel)]='discount',
				required,
				ngDefaultControl)
			span(matPrefix)
				| {{ ( discount?.toString() || "" ) | commas }}
			mat-hint
				| {{ ( discount?.toString() || "" ) | commas }}
			.text-warn(*ngIf="discount_type === DISCOUNT_TYPE[0].id && ( discount < 0 || discount > 100)")
				| Discount must >=0 and <=100
			.text-warn(*ngIf="discount_type === DISCOUNT_TYPE[1].id  &&  discount < 0" )
				| Discount must >=0
	upload-box(
		[allowExtensions]='[ ".xls", ".xlsx" ]',
		[allowFormats]='[ "application/ms-excel", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ]',
		[label]='"FINANCE.PROJECT.LABELS.IMPORT_FILE" | translate',
		[disabled]='isUploading',
		(onFileSelected)='onFileSelected( $event )')

	div(
		matDialogActions,
		align='end')
		button(
			mat-raised-button,
			type='button',
			[disabled]='isUploading',
			(click)='onNoClick()')
			| {{ "GENERAL.LABELS.CANCEL" | translate }}
		button(
			mat-raised-button,
			type='submit',
			color='primary',
			(click)='onUpload()',
			[disabled]='isUploading || !fileLocation || !discount_type || !validateDiscount()')
			.layout-row.layout-align-center-center
				.flex-auto
					ng-template([ngIf]='!isUploading')
						| {{ "FINANCE.PROJECT.LABELS.IMPORT" | translate }}
					ng-template([ngIf]='isUploading')
						| {{ "GENERAL.LABELS.PLEASE_WAIT" | translate }}
				mat-spinner.ml-5(
					*ngIf='isUploading',
					diameter='20')
