.dialog-upload-file.mb-10
	h1(matDialogTitle)
		| {{ "GENERAL.LABELS.SEND_GET_APPROVE_TITLE" | translate }}
	.layout-row.layout-wrap.layout-fixer-15
		select-box.mb-10.ph-15.flex-100(
			[(ngModel)]='settlement_maintaince_type',
			[label]='"GENERAL.LABELS.SETTLEMENT_MAINTAINCE_TYPE" | translate',
			[data]='DISCOUNT_TYPE',
			required,
			ngDefaultControl)

		mat-form-field.mb-10.ph-15.flex-100(
			plugin-input-parse-commas,
			floatLabel='always',
			appearance='outline')
			mat-label
				| {{ "GENERAL.LABELS.SETTLEMENT_MAINTAINCE" | translate }}
			input(
				matInput,
				type='number',
				step='1',
				min='0',
				[(ngModel)]='settlement_maintaince',
				required,
				ngDefaultControl)
			span(matPrefix)
				| {{ ( settlement_maintaince?.toString() || "" ) | commas }}
			mat-hint(*ngIf="getPercentToMoney() === null")
				.text-hint
					| {{ ( settlement_maintaince?.toString() || "" ) | commas }}
				.text-warn(*ngIf="settlement_maintaince_type === DISCOUNT_TYPE[1].id  &&  settlement_maintaince < 0 || settlement_maintaince > available" )
					| {{ 'SETTLEMENT_MAINTAINCE_RANGE_VALID' | translate: {min: 0, max: (available |  commas)} }}
			mat-hint(*ngIf="getPercentToMoney() !== null")
				.text-hint
					| {{ getPercentToMoney() | commas }}
				.text-warn(*ngIf="settlement_maintaince_type === DISCOUNT_TYPE[0].id && ( settlement_maintaince < 0 || settlement_maintaince > 50)")
					| {{ 'SETTLEMENT_MAINTAINCE_PERCENT_RANGE_VALID' | translate: {min: 0, max: 50} }}
		mat-form-field.mb-10.ph-15.flex-100(
			floatLabel='always',
			appearance='outline',
			(click)='picker?.open()')
			mat-label
				| {{ "GENERAL.LABELS.SETTLEMENT_MAINTAINCE_DEADLINE" | translate }}
			input(
				[min]='today.format()',
				matInput,
				[matDatepicker]='picker',
				[(ngModel)]='settlement_maintaince_deadline',
				ngDefaultControl,
				required,
				readonly)
			mat-datepicker-toggle(
				matSuffix,
				[for]='picker')
			mat-datepicker(
				#picker)

	div(
		matDialogActions,
		align='end')
		button(
			mat-raised-button,
			type='button',
			(click)='onNoClick()')
			| {{ "GENERAL.LABELS.CANCEL" | translate }}
		button(
			mat-raised-button,
			type='submit',
			color='primary',
			(click)='onSend()',
			[disabled]='!settlement_maintaince_type || !settlement_maintaince_deadline || !validateMaintaince()')
			| {{ "GENERAL.LABELS.SEND" | translate }}
