mat-card.table-procedure.p-10
    h1
        | {{ 'GENERAL.LABELS.PROCEDURES_DETAILS' |  translate}}
    mat-table.mb-20(
        #billDetailsSort="matSort",
        plugin-data-table,
        matSort,
        [dataSource]='dataSourceDetails',
        [attr.data-label]='!dataSourceDetails?.filteredData?.length ? ( "GENERAL.MESSAGES.NO_DATA" | translate ) : ""')
        // Item Column
        ng-container(matColumnDef='item')
            mat-header-cell(*matHeaderCellDef, mat-sort-header='bill_name', style='min-width: 120px;')
                | {{ "GENERAL.ATTRIBUTES.ITEM" | translate }}
                | &nbsp;
                i.fa.fa-sort
            mat-cell(*matCellDef='let element', [style.color]='element.is_settlement ? "#9400ae" : "black"', style='min-width: 120px;')
                .font-weight-500
                    | {{ element?.bill_name || "N/A" }}
        // Procedure Column
        ng-container(matColumnDef='name')
            mat-header-cell(*matHeaderCellDef, mat-sort-header='name', style='min-width: 170px;')
                | {{ "GENERAL.ATTRIBUTES.NAME" | translate }}
                | &nbsp;
                i.fa.fa-sort
            mat-cell(
                *matCellDef='let element', [style.color]='element.is_settlement ? "#9400ae" : "black"', style='min-width: 170px;')
                .font-weight-500
                    | {{ element?.name || "" }}

        // Belong to Column
        ng-container(matColumnDef='belong_to')
            mat-header-cell(*matHeaderCellDef, mat-sort-header='belong_to', style='min-width: 170px;')
                | {{ "GENERAL.ATTRIBUTES.BELONG_TO" | translate }}
                | &nbsp;
                i.fa.fa-sort
            mat-cell(*matCellDef='let element', [style.color]='element.is_settlement ? "#9400ae" : "black"', style='min-width: 170px;')
                .font-weight-500
                    | {{ element.belong_to }}

        // Assignee Column
        ng-container(matColumnDef='assignee')
            mat-header-cell(*matHeaderCellDef, mat-sort-header='assignee', style='min-width: 170px;')
                | {{ "GENERAL.ATTRIBUTES.ASSIGNEE" | translate }}
                | &nbsp;
                i.fa.fa-sort
            mat-cell(*matCellDef='let element', [style.color]='element.is_settlement ? "#9400ae" : "black"', style='min-width: 170px;')
                .font-weight-500
                    | {{ element?.assignee || "" }}
        // Type Column
        ng-container(matColumnDef='type')
            mat-header-cell(*matHeaderCellDef, mat-sort-header='type', style='min-width: 200px;')
                | {{ "GENERAL.ATTRIBUTES.TYPE" | translate }}
                | &nbsp;
                i.fa.fa-sort
            mat-cell(*matCellDef='let element', [style.color]='element.is_settlement ? "#9400ae" : "black"', style='min-width: 200px;')
                .font-weight-500
                    | {{ element?.type || "" }}
        // Deadline Column
        ng-container(matColumnDef='deadline')
            mat-header-cell(*matHeaderCellDef, mat-sort-header='deadline', style='min-width: 160px;')
                | {{ "FINANCE.PROJECT.ATTRIBUTES.DEADLINE" | translate }}
                | &nbsp;
                i.fa.fa-sort
            mat-cell(*matCellDef='let element', [style.color]='element.is_settlement ? "#9400ae" : "black"', style='min-width: 160px;')
                .font-weight-500
                    div
                        | {{ element.deadline ? (element.deadline | momentDateFormat) : ''}}
                    ng-container(*ngIf='element?.deadline && element?.status === 2')
                        div
                            span(class="text-success")
                                | {{ element.updated_at | momentDateFormat}}
                        div
                            span([ngClass]='{ "text-warn": datediff2(element) < 0, "text-success": datediff2(element) >= 0 }')
                                | {{ '(' + (( datediff2(element))?.toFixed( 0 ) | commas) }}
                                | {{ ("GENERAL.LABELS.DAYS" | translate | lowercase) + ')' }}
                    div(*ngIf='element?.deadline && element?.status !== 2')
                        span([ngClass]='{ "text-warn": datediff(element.deadline) < 0, "text-success": datediff(element.deadline) >= 0 }')
                            | {{ '(' + (( datediff(element.deadline))?.toFixed( 0 ) | commas) }}
                            | {{ ("GENERAL.LABELS.DAYS" | translate | lowercase) + ')' }}
        // Comment Column
        ng-container(matColumnDef='comment')
            mat-header-cell(*matHeaderCellDef, style='min-width: 120px;')
                | {{ "GENERAL.LABELS.COMMENT" | translate }}
            mat-cell(*matCellDef='let element', [style.color]='element.is_settlement ? "#9400ae" : "black"', style='min-width: 120px;')
                | {{ element.comment }}

        // Status Column
        ng-container(matColumnDef='status')
            mat-header-cell(*matHeaderCellDef, mat-sort-header='status', style='min-width: 120px;')
                | {{ "GENERAL.LABELS.STATUS" | translate }}
                | &nbsp;
                i.fa.fa-sort
            mat-cell(*matCellDef='let element', style='min-width: 120px;')
                status-box(
                    *ngIf='element.bill_procedure_status_name',
                    [color]='element?.bill_procedure_status_name?.color',
                    [status]='element?.bill_procedure_status_name?.name | translate')
        // Attachments Column
        ng-container(matColumnDef='attachments')
            mat-header-cell(*matHeaderCellDef, mat-sort-header='attachments', style='min-width: 120px;')
                | {{ "GENERAL.LABELS.ATTACHMENTS" | translate }}
                | &nbsp;
                i.fa.fa-sort
            mat-cell(*matCellDef='let element', [style.color]='element.is_settlement ? "#9400ae" : "black"', style='min-width: 120px;')
                ul(class='attachments-ul')
                    ng-container(*ngFor="let attachment of element.attachments; let attachmentIndex = index;" )
                        li(class='file_download', (click)="download(attachment.real_name)", [title]='"GENERAL.ATTRIBUTES.DOWNLOAD" | translate')
                            | {{ attachment?.name || "" }}
        // Actions Column
        ng-container(matColumnDef='actions')
            mat-header-cell(*matHeaderCellDef, style='min-width: 90px;')
                | {{ "GENERAL.ATTRIBUTES.ACTION" | translate }}
            mat-cell(*matCellDef='let element; let i = index;', style='min-width: 90px;')
                action-box(*ngIf="element.assignee" )
                    action-button(
                        *ngIf='element.status !== 2 && isGeneralAccountant',
                        color='warn',
                        icon='fa fa-trash',
                        [title]='"GENERAL.LABELS.DELETE" | translate',
                        (onClick)='deleteReal(element.id, element.name)')
                    action-button(
                        *ngIf="canApprove()",
                        color='success',
                        icon='fa fa-check',
                        [title]='"GENERAL.LABELS.APPROVE" | translate',
                        (onClick)='approve( element )',
                        [disabled]='element?.status === 2')
                    action-button(
                        *ngIf="canReject()",
                        color='warn',
                        icon='fa fa-ban',
                        (onClick)='reject( element )',
                        [disabled]='element?.status === 1',
                        [title]='"GENERAL.LABELS.REJECT" | translate')
                    action-button(
                        *ngIf='( canAttachment(element) && element.status !== 2)',
                        color='accent',
                        icon='fa fa-file-upload',
                        [title]='"GENERAL.LABELS.UPLOAD" | translate',
                        (onClick)='openAttachmentDialog( element )')

        mat-header-row(*matHeaderRowDef='displayedColumnsDetails')
        mat-row(*matRowDef='let row; columns: displayedColumnsDetails;')