mat-card.project-overview.mat-elevation-z8(*ngIf='isQS || isPM || isProcurementManager || isCEO || isCFO')
	.row(*ngIf='showRealIncomeCost')
		.col-md-5
			span.text-primary.mb-5
				| {{ "FINANCE.PROJECT.LABELS.RECEIVABLES" | translate }}:&nbsp;
			span.text-success.font-size-18
				| {{ ( customDatasets[ 0 ]?.income || 0 )?.toFixed( 0 ) | commas }}&nbsp;
			span.text-primary.font-size-18
				| /
				| {{ (receivablePlane || 0).toFixed(2) | commas }}
				| ({{ receivablePlane ? (customDatasets[ 0 ]?.income / receivablePlane * 100).toFixed(2) : '0' }}%)
			span.font-size-18.updown(
				*ngIf='receivableMargin',
				[ngClass]='{"text-success": receivableMargin >= 0, "text-warn": receivableMargin < 0 }')
				| <i class="revert fas" [ngClass]='{"fa-arrow-down": receivableMargin < 0, "fa-arrow-up": receivableMargin >= 0 }'></i> ({{ receivableMargin | commas }}%)
			mat-progress-bar.custom-mat-progress-bar.h-15(
				[mode]='determinate',
				[value]='customDatasets[ 0 ]?.income / receivablePlane * 100',
				[style.color]='customDatasets[ 0 ]?.income_color')
		.col-md-2
			.profit-block
				div(style='font-weight: bold; margin-top: 21px; font-size: 17px', [style.color]='profit >= setting?.value ? "green" : "orange"')
					| {{ (profit || 0).toFixed(1) | commas }}%
		.col-md-5
			span.text-primary.mb-5
				| {{ "FINANCE.PROJECT.LABELS.PAYABLES" | translate }}:&nbsp;
			span.text-warning.font-size-18
				| {{ ( customDatasets[ 0 ]?.cost || 0 )?.toFixed( 0 ) | commas }}&nbsp;
			span.text-primary.font-size-18
				| /
				| {{ ( (totalSum.subtotal + TOTAL_EXTRA_FEE.purchase_list  * 1.1 ) || 0 )?.toFixed( 0 ) | commas }}
				| ({{ getPurchasingPercent() }}%)
			span.font-size-18.updown(
				[ngClass]='{"text-success": (TOTAL_EXTRA_FEE.purchase_list  + TOTAL_EXTRA_FEE.po_list - totalBaseCostItem) < 0, "text-warn": (TOTAL_EXTRA_FEE.purchase_list  + TOTAL_EXTRA_FEE.po_list - totalBaseCostItem) >= 0 }')
				| <i class="fas" [ngClass]='{"fa-arrow-down": (TOTAL_EXTRA_FEE.purchase_list  + TOTAL_EXTRA_FEE.po_list - totalBaseCostItem) < 0, "fa-arrow-up": (TOTAL_EXTRA_FEE.purchase_list  + TOTAL_EXTRA_FEE.po_list - totalBaseCostItem) >= 0 }'></i> ({{ (TOTAL_EXTRA_FEE.purchase_list  + TOTAL_EXTRA_FEE.po_list - totalBaseCostItem)/totalBaseCostItem * 100 | commas }}%)
			mat-progress-bar.custom-mat-progress-bar.h-15(
				[mode]='determinate',
				[value]='customDatasets[ 0 ]?.percent_cost || 0',
				[style.color]='customDatasets[ 0 ]?.cost_color')

	include blocks/block-overview-chart.partial.pug
