@import '~angular-core/lib/scss/partials/variable';
@import 'src/scss/partials/variable';

.row {
  display: flex;
  flex-grow: 1;
}

.col-1 {
  flex-grow: 1;
}

.col-2 {
  width: 550px;
}

.col-4{
  width: 48px;
}

.col-3 {
  width: 100%;
}

.my-note{
}
.divme{
  display: inline-flex;
}
.vo-color {
  background-color: rgb(199,199,199);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-flex;
  top: 6px;
  left: -2px;
}

.real-receivable-color {
  background-color: rgb(83,184,35);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-flex;
  top: 6px;
  left: -2px;
}

.plan-payable-color {
  background-color: #fd8631;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-flex;
  top: 6px;
  left: -2px;
}

.margin-span {
  margin-right: 15px;
  margin-top: 4px;
  color: #666666;
  font-size: 9pt;
}
.my-hide{
  position: absolute;
  top: 115px;
  width: 500px;
  height: 50px;
  background: white;
}
.table-fixed tbody {
  height: 300px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
  float: left;
  position: relative;

  &::after {
    content: '';
    clear: both;
    display: block;
  }
}
.table-responsive{
  max-width: 400px;
}
.parentCell {
  position: relative;
  display: inline-block;
  .tooltiptext {
    visibility: hidden;
    max-width: 450px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
  }
  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}

span.font-size-18.updown{
  float: right;
}
.fa-arrow-up{
  color: $warn;
  &:hover{
    color: unset !important;
  }
}
.fa-arrow-down{
  color: $success;
  &:hover{
    color: unset !important;
  }
}
.fa-arrow-up.revert{
  color: $success;
  &:hover{
    color: unset !important;
  }
}
.fa-arrow-down.revert{
  color: $warn;
  &:hover{
    color: unset !important;
  }
}
.text-success{
  color: $success;
}
.text-warn{
  color: $warn;
}
.text-warning{
  color: $warning;
}
.profit-block{
  display: block;
  border: 3px solid #095385;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  background: #ffffff;
}