@import '~angular-core/lib/scss/partials/variable';
@import 'src/scss/partials/variable';

thead th{
  background-color: #00245a;
  color: #fff;
  padding: 8px !important;
}
.table{
  margin-bottom: 0 !important;
}
.table>thead>tr>th {
  vertical-align: middle !important;
}
tbody td {
  padding: 8px !important;
}
.table-procedure{
  margin-top: 16px;
}
.fa {
  cursor: pointer;
  opacity: 1;
}
.fa:hover {
  opacity: 0.75;
}
.fa.fa-eye{
  border: 1px solid black;
  border-radius: 50%;
  margin: 8px 8px;
  padding: 8px;
  background: #266eaf;
  color: white;
}
.fa.fa-eye:hover{
  border: 1px solid #5c5c5c;
  background: rgba(54, 156, 248, 0.31);
  color: #095385;
}
.file_download{
  cursor: pointer;
  color: $accent;
  opacity: 1;
  &:hover{
    opacity: 0.75;
  }
}
mat-header-row{
  background: #00245a;
}

.attachments-ul{
  list-style-type: decimal !important;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  padding-inline-start: 13px !important;
  margin: 0 !important;
  padding-left: 10px !important;
  list-style-type: numeric !important;
}