.block-exchange-rate
	.layout-row.layout-align-start-center.mb-20
		.font-size-18.font-weight-500
			| {{ "GENERAL.LABELS.PROFIT" | translate | uppercase }}
		.ph-20.flex-auto
			mat-divider([inset]='true')

	.layout-row.layout-fixer-15
		mat-form-field.flex-25.ph-15(
			plugin-input-parse-commas,
			floatLabel='always',
			appearance='outline')
			mat-label
				| {{ "GENERAL.LABELS.MARGIN" | translate }}
			input(
				matInput,
				type='number',
				step='1000',
				min='0',
				[(ngModel)]='setting.margin',
				[placeholder]='"GENERAL.LABELS.MARGIN" | translate',
				[formControl]='settingForm?.controls[ "margin" ]',
				[disableControl]='isUpdating || isUploading',
				required,
				ngDefaultControl)
			span(matPrefix)
				| {{ (( setting?.margin.toString() || "" ) | commas) + ' %'}}
			mat-hint
				| {{ ( (setting?.margin?.toString() || "" ) | commas) + ' %' }}
			mat-error
				error-message(
					[label]='"GENERAL.LABELS.MARGIN" | translate',
					[control]='settingForm?.controls[ "margin" ]')
