.block-exchange-rate
	.layout-row.layout-align-start-center
		.font-size-18.font-weight-500
			| {{ "CHART.CHART_SETTINGS" | translate | uppercase }}
		.ph-20.flex-auto
			mat-divider([inset]='true')

	.row(style='margin: 10px 0; border: 1px solid #c7c7c7c7; border-radius: 7px')
		span.col-md-12.mt-10.mb-10(style='font-weight: bold')
			| {{ "CHART.OVERVIEW_CHART_SETTING" | translate | uppercase }}
		div.col-md-12
			.row
				.col-md-3
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.OVERVIEW_CHART_PAYABLE_COLOR" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.overview_chart_payable_color',
							[formControl]='settingForm?.controls[ "overview_chart_payable_color" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.OVERVIEW_CHART_PAYABLE_COLOR" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.overview_chart_payable_color',
								[style.backgroundColor]='setting?.overview_chart_payable_color',
								[style.color]='setting?.overview_chart_payable_color')
				.col-md-3
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.OVERVIEW_CHART_PAYABLE_PLAN_COLOR" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.overview_chart_payable_plan_color',
							[formControl]='settingForm?.controls[ "overview_chart_payable_plan_color" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.OVERVIEW_CHART_PAYABLE_PLAN_COLOR" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.overview_chart_payable_plan_color',
								[style.backgroundColor]='setting?.overview_chart_payable_plan_color',
								[style.color]='setting?.overview_chart_payable_plan_color')
				.col-md-3
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.OVERVIEW_CHART_PAYABLE_PLAN_VO_COLOR" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.overview_chart_payable_plan_vo_color',
							[formControl]='settingForm?.controls[ "overview_chart_payable_plan_vo_color" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.OVERVIEW_CHART_PAYABLE_PLAN_VO_COLOR" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.overview_chart_payable_plan_vo_color',
								[style.backgroundColor]='setting?.overview_chart_payable_plan_vo_color',
								[style.color]='setting?.overview_chart_payable_plan_vo_color')
				.col-md-3
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.OVERVIEW_CHART_PAYABLE_REMAIN_COLOR" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.overview_chart_payable_remain_color',
							[formControl]='settingForm?.controls[ "overview_chart_payable_remain_color" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.OVERVIEW_CHART_PAYABLE_REMAIN_COLOR" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.overview_chart_payable_remain_color',
								[style.backgroundColor]='setting?.overview_chart_payable_remain_color',
								[style.color]='setting?.overview_chart_payable_remain_color')
				.col-md-3
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.OVERVIEW_CHART_RECEIVABLE_COLOR" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.overview_chart_receivable_color',
							[formControl]='settingForm?.controls[ "overview_chart_receivable_color" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.OVERVIEW_CHART_RECEIVABLE_COLOR" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.overview_chart_receivable_color',
								[style.backgroundColor]='setting?.overview_chart_receivable_color',
								[style.color]='setting?.overview_chart_receivable_color')
				.col-md-3
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.OVERVIEW_CHART_RECEIVABLE_PLAN_COLOR" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.overview_chart_receivable_plan_color',
							[formControl]='settingForm?.controls[ "overview_chart_receivable_plan_color" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.OVERVIEW_CHART_RECEIVABLE_PLAN_COLOR" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.overview_chart_receivable_plan_color',
								[style.backgroundColor]='setting?.overview_chart_receivable_plan_color',
								[style.color]='setting?.overview_chart_receivable_plan_color')
				.col-md-3
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.OVERVIEW_CHART_RECEIVABLE_PLAN_VO_COLOR" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.overview_chart_receivable_plan_vo_color',
							[formControl]='settingForm?.controls[ "overview_chart_receivable_plan_vo_color" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.OVERVIEW_CHART_RECEIVABLE_PLAN_VO_COLOR" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.overview_chart_receivable_plan_vo_color',
								[style.backgroundColor]='setting?.overview_chart_receivable_plan_vo_color',
								[style.color]='setting?.overview_chart_receivable_plan_vo_color')
	.row(style='margin: 10px 0; border: 1px solid #c7c7c7c7; border-radius: 7px')
		span.col-md-12.mt-10.mb-10(style='font-weight: bold')
			| {{ "CHART.RECEIVABLES_PAYABLES_CHART_SETTING" | translate | uppercase }}
		div.col-md-8
			.row
				.col-md-4
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.RECEIVABLE_PAYABLE_CHART_PAYABLE_COLOR" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.receivable_payable_chart_payable_color',
							[formControl]='settingForm?.controls[ "receivable_payable_chart_payable_color" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.RECEIVABLE_PAYABLE_CHART_PAYABLE_COLOR" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.receivable_payable_chart_payable_color',
								[style.backgroundColor]='setting?.receivable_payable_chart_payable_color',
								[style.color]='setting?.receivable_payable_chart_payable_color')
				.col-md-4
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.RECEIVABLE_PAYABLE_CHART_RECEIVABLE_COLOR" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.receivable_payable_chart_receivable_color',
							[formControl]='settingForm?.controls[ "receivable_payable_chart_receivable_color" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.RECEIVABLE_PAYABLE_CHART_RECEIVABLE_COLOR" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.receivable_payable_chart_receivable_color',
								[style.backgroundColor]='setting?.receivable_payable_chart_receivable_color',
								[style.color]='setting?.receivable_payable_chart_receivable_color')
				.col-md-4
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.RECEIVABLE_PAYABLE_CHART_RECEIVABLE_PLAN_COLOR" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.receivable_payable_chart_receivable_plan_color',
							[formControl]='settingForm?.controls[ "receivable_payable_chart_receivable_plan_color" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.RECEIVABLE_PAYABLE_CHART_RECEIVABLE_PLAN_COLOR" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.receivable_payable_chart_receivable_plan_color',
								[style.backgroundColor]='setting?.receivable_payable_chart_receivable_plan_color',
								[style.color]='setting?.receivable_payable_chart_receivable_plan_color')
	.row(style='margin: 0 0 15px 0; border: 1px solid #c7c7c7c7; border-radius: 7px')
		span.col-md-12.mt-10.mb-10(style='font-weight: bold')
			| {{ "CHART.CASH_FLOW_CHART_SETTING" | translate | uppercase }}
		div.col-md-6
			.row
				.col-md-6
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.CASH_FLOW_CHART_PLAN_COLOR" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.cash_flow_chart_plan_color',
							[formControl]='settingForm?.controls[ "cash_flow_chart_plan_color" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.CASH_FLOW_CHART_PLAN_COLOR" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.cash_flow_chart_plan_color',
								[style.backgroundColor]='setting?.cash_flow_chart_plan_color',
								[style.color]='setting?.cash_flow_chart_plan_color')
				.col-md-6
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.CASH_FLOW_CHART_REAL_COLOR" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.cash_flow_chart_real_color',
							[formControl]='settingForm?.controls[ "cash_flow_chart_real_color" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.CASH_FLOW_CHART_REAL_COLOR" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.cash_flow_chart_real_color',
								[style.backgroundColor]='setting?.cash_flow_chart_real_color',
								[style.color]='setting?.cash_flow_chart_real_color')
	.row(style='margin: 0 0 15px 0; border: 1px solid #c7c7c7c7; border-radius: 7px')
		span.col-md-12.mt-10.mb-10(style='font-weight: bold')
			| {{ "CHART.PROJECT_STATUS" | translate | uppercase }}
		div.col-md-12
			.row
				.col-md-3
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.PROJECT_STATUS_DONE" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.project_status_done',
							[formControl]='settingForm?.controls[ "project_status_done" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.PROJECT_STATUS_DONE" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.project_status_done',
								[style.backgroundColor]='setting?.project_status_done',
								[style.color]='setting?.project_status_done')
				.col-md-3
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.PROJECT_STATUS_PITCHING" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.project_status_pitching',
							[formControl]='settingForm?.controls[ "project_status_pitching" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.PROJECT_STATUS_PITCHING" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.project_status_pitching',
								[style.backgroundColor]='setting?.project_status_pitching',
								[style.color]='setting?.project_status_pitching')
				.col-md-3
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.PROJECT_STATUS_PAYMENT_RECEIVED" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.project_status_payment_received',
							[formControl]='settingForm?.controls[ "project_status_payment_received" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.PROJECT_STATUS_PAYMENT_RECEIVED" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.project_status_payment_received',
								[style.backgroundColor]='setting?.project_status_payment_received',
								[style.color]='setting?.project_status_payment_received')
				.col-md-3
					mat-form-field(
						floatLabel='always',
						appearance='outline')
						mat-label
							| {{ "CHART.PROJECT_STATUS_SETTLEMENT" | translate }}
						input(
							matInput,
							[(ngModel)]='setting.project_status_settlement',
							[formControl]='settingForm?.controls[ "project_status_settlement" ]',
							[disableControl]='isUpdating || isUploading',
							[placeholder]='"CHART.PROJECT_STATUS_SETTLEMENT" | translate',
							required,
							ngDefaultControl)
						span(matSuffix)
							.general__input-color(
								[(colorPicker)]='setting.project_status_settlement',
								[style.backgroundColor]='setting?.project_status_settlement',
								[style.color]='setting?.project_status_settlement')