thead th{
  background-color: #00245a;
  color: #fff;
  padding: 8px !important;
}
.table{
  margin-bottom: 0 !important;
}
.table>thead>tr>th {
  vertical-align: middle !important;
}
tbody td {
  padding: 8px !important;
}
.table-doc-category{
  margin-top: 16px;
}
.fa {
  cursor: pointer;
  opacity: 1;
}
.fa:hover {
  opacity: 0.75;
}
.fa.fa-eye{
  border: 1px solid black;
  border-radius: 50%;
  margin: 8px 8px;
  padding: 8px;
  background: #266eaf;
  color: white;
}
.fa.fa-eye:hover{
  border: 1px solid #5c5c5c;
  background: rgba(54, 156, 248, 0.31);
  color: #095385;
}