@import '~angular-core/lib/scss/partials/variable';
@import 'src/scss/partials/variable';

.project-payables {
	.table-project-payment {
		.mat-row {
			&:nth-child(even) {
				background-color: '#fafafa';
			}
		}

		.active-row {
			background-color: $gray !important;
			border: 1px solid $warning;
		}
	}
}

div.detail-payable-area{
	position: relative;
}
.export-btn{
	position: absolute;
	top: 6px;
	right: 14px;
	cursor: pointer;
	z-index: 99;
}
.file_download{
	cursor: pointer;
	color: $accent;
	opacity: 1;
	&:hover{
		opacity: 0.75;
	}
}
.invoices-ul{
	list-style-type: decimal !important;
	margin-block-start: 0 !important;
	margin-block-end: 0 !important;
	margin-inline-start: 0px !important;
	margin-inline-end: 0px !important;
	padding-inline-start: 13px !important;
	margin: 0 !important;
	padding-left: 10px !important;
	list-style-type: numeric !important;
}