@import '~angular-core/lib/scss/partials/variable';
@import 'src/scss/partials/variable';

.project-quotation {
	.tab-sheet-bill {
		.block-project-line-item {
			.project-line-item {
				border: 1px solid rgba($black, .12);
				margin: 3px 0;
				background-color: $white;

				&__child-group,
				&__child-group .mat-cell {
					background-color: $gray;
				}

				&__list,
				&__list .mat-cell {
					background-color: $white;
				}

				&__list .mat-cell {
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}
	}
}
.fa-sort, .fa-arrow-up, .fa-arrow-down {
	cursor: pointer;
	color: white;
	&:hover{
		color: yellow;
	}
}
.sort-col{
	cursor: pointer;
	&:hover{
		.fa-sort, .fa-arrow-up, .fa-arrow-down {
			color: yellow;
		}
	}
	.fa-sort, .fa-arrow-up, .fa-arrow-down {
		color: white;
	}
}

div.detail-quotation-area{
	position: relative;
}
.export-btn{
	position: absolute;
	top: 6px;
	right: 14px;
	cursor: pointer;
	z-index: 99;
}
.file_download{
	cursor: pointer;
	color: $accent;
	opacity: 1;
	&:hover{
		opacity: 0.75;
	}
}

.images-ul{
	list-style-type: decimal !important;
	margin-block-start: 0 !important;
	margin-block-end: 0 !important;
	margin-inline-start: 0px !important;
	margin-inline-end: 0px !important;
	padding-inline-start: 13px !important;
	margin: 0 !important;
	padding-left: 10px !important;
	list-style-type: numeric !important;
}