@import '~angular-core/lib/scss/partials/variable';
@import 'src/scss/partials/variable';

.mat-dialog-container {
	padding: 0;
	max-height: 700px !important;
}

.procedure-pagination {
	overflow-x: scroll;

	&__item {
		background: $dark-gray;
		color: $white;

		&-done {
			background: $success;
		}

		&-active {
			background: $accent;
		}
	}
}

.mat-header-row {
	min-height: 40px;
}
.fa-trash{
	&:hover {
		color: #7d0101 !important;
	}
}

.file_download{
	cursor: pointer;
	color: $accent;
	opacity: 1;
	&:hover{
		opacity: 0.75;
	}
}
mat-header-row{
	background: #00245a;
}

.attachments-ul{
	list-style-type: decimal !important;
	margin-block-start: 0 !important;
	margin-block-end: 0 !important;
	margin-inline-start: 0px !important;
	margin-inline-end: 0px !important;
	padding-inline-start: 13px !important;
	margin: 0 !important;
	padding-left: 10px !important;
	list-style-type: numeric !important;
}