@import '~angular-core/lib/scss/partials/variable';
@import 'src/scss/partials/variable';

.my-note{
  margin-top: 113px;
}
.divme{
  justify-content: space-around;
  display: flex;
}
.vo-color {
  background-color: rgb(199,199,199);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-flex;
  top: 6px;
  left: -2px;
}

.plan-receivable-color {
  background-color: #37a0f4;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-flex;
  top: 6px;
  left: -2px;
}

.real-receivable-color {
  background-color: rgb(83,184,35);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-flex;
  top: 6px;
  left: -2px;
}

.plan-payable-color {
  background-color: #fd8631;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-flex;
  top: 6px;
  left: -2px;
}

.real-payable-color {
  background-color: red;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-flex;
  top: 6px;
  left: -2px;
}
.margin-span {
  margin-right: 15px;
  margin-top: 4px;
  color: #666666;
  font-size: 9pt;
}
.my-hide{
  position: absolute;
  top: 115px;
  width: 500px;
  height: 50px;
  background: white;
}

.kkk{
  width: 100%;
}
.config-block{
  display: flow-root;
}

span.font-size-18.updown{
   float: right;
}
.fa-arrow-up{
  color: $warn;
  &:hover{
    color: unset !important;
  }
}
.fa-arrow-down{
  color: $success;
  &:hover{
    color: unset !important;
  }
}
.fa-arrow-up.revert{
  color: $success;
  &:hover{
    color: unset !important;
  }
}
.fa-arrow-down.revert{
  color: $warn;
  &:hover{
    color: unset !important;
  }
}
.text-success{
  color: $success;
}
.text-warn{
  color: $warn;
}
.text-warning{
  color: $warning;
}
.profit-block{
  display: block;
  border: 3px solid #095385;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  background: #ffffff;
}