@import '~angular-core/lib/scss/partials/variable';

.project {
	.filter-box {
		width: 100%;

		&__datepicker {
			.mat-form-field-label {
				display: block;
				color: rgba($black, .87);
			}

			input {
				opacity: 0;
			}

			&.mat-form-field {
				width: 100%;
				min-width: 220px;

				&.mat-focused {
					.mat-form-field-wrapper {
						border-color: $primary;
					}

					.mat-form-field-suffix {
						color: $primary;
					}
				}

				.mat-form-field-wrapper {
					border: 1px solid $gray;
					padding: 10px 15px;
					border-radius: 4px;
					background-color: $white;
					height: 36px;
				}

				.mat-form-field-flex {
					margin-top: -5px;
				}

				.mat-form-field-underline {
					display: none;
				}

				.mat-form-field-infix {
					padding: 0;
					border: none;
					width: unset;
				}

				.mat-form-field-label-wrapper {
					top: -1.3em;
					padding-top: 1.3em;
				}

				.mat-select-arrow-wrapper,
				.mat-datepicker-toggle {
					position: relative;
					right: -5px;
				}
			}
		}
	}
}

.text-camdi {
	color: #fd8631;
}