.my-note {
    margin-top: 56px !important;
}
.divme {
    display: flex;
    justify-content: space-evenly;
}
.plan-receivable-color {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-flex;
    top: 6px;
    left: -2px;
    cursor: pointer;
    opacity: 1;
}
.plan-receivable-color:hover{
    opacity: 0.75;
}
.real-receivable-color, .total-line-color {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-flex;
    opacity: 1;
    cursor: pointer;
}
.real-receivable-color:hover{
    opacity: 0.75;
}
.total-line-color:hover{
    opacity: 0.75;
}
.plan-payable-color, .total-bill-color {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-flex;
    cursor: pointer;
    opacity: 1;
}
.total-bill-color:hover{
    opacity: 0.75;
}
.plan-payable-color:hover{
    opacity: 0.75;
}
.real-payable-color {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-flex;
    cursor: pointer;
    opacity: 1;
}
.real-payable-color:hover{
    opacity: 0.75;
}
.margin-span {
    position: absolute;
    top: 1px;
    width: 293px;
    cursor: pointer;
    color: #6d6d6d;
    font-size: 10pt;
    text-align: left;
    margin-left: 3px;
}
.column-title{
    fill: #666666;
    font-weight: bold;
    font-size: 30pt;
    font-family:Roboto, Helvetica Neue, sans-serif
}
.outer-legend{
    position: relative;
}