<ng-container *ngIf="data.length > 2 && !errorData">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 370" style="width: 100%; height: 30%">
        <line x1="85" y1="350" x2="750" y2="350" style="stroke:#0000007d;stroke-width:1" />
        <svg xmlns="http://www.w3.org/2000/svg" x="0">
            <text x="85" y="353"  text-anchor="end" style="fill: #666666; font-size: 11px; font-family:Roboto, Helvetica Neue, sans-serif">0</text>
        </svg>
        <line x1="90" y1="0" x2="90" y2="365" style="stroke:#0000007d;stroke-width:1" />

        <ng-container *ngFor="let y of xAxyses; let i = index;">
            <svg xmlns="http://www.w3.org/2000/svg" x="0" id="ticker_label_{{i}}">
                <text x="85" y="10"  text-anchor="end" style="fill: #666666; font-size: 11px; font-family:Roboto, Helvetica Neue, sans-serif"> {{commas(y/1000000000, 0)}}</text>
            </svg>
            <line x1="86" x2="750" id="ticker_{{i}}" style="stroke:#00000047;stroke-width:1" />
        </ng-container>
        <ng-container *ngIf="shows[0]">
            <rect id="rect1_1" class="can-hover-block11" x="230" y="140" width="40" height="360"
                  stroke="black" fill="#000000" stroke-dasharray="3 4" (mouseover)="opacity('rect1_1', 0.75)" (mouseout)="opacity('rect1_1', 1)">
                <title> {{
                    ('GENERAL.LABELS.VALUE' | translate) + ': ' + commas(data[0]/1000000000 || 0, 1) +
                    '\n ' + ('GENERAL.LABELS.VO' | translate) + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ' + commas(data[1]/1000000000 || 0, 1)}}</title>
            </rect>
            <rect x="230" y="140" width="40" height="10"
                  id="rect1_2" stroke="black" stroke-dasharray="3 4" fill="#000000" (mouseover)="opacity('rect1_2', 0.75)" (mouseout)="opacity('rect1_2', 1)">
                <title> {{
                    ('GENERAL.LABELS.VALUE' | translate) + ': ' + commas(data[0]/1000000000 || 0, 1) +
                    '\n '+ ('GENERAL.LABELS.VO' | translate) +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ' + commas(data[1]/1000000000 || 0, 1)}}</title>
            </rect>
            <svg xmlns="http://www.w3.org/2000/svg" x="230">
                <text id="rect1_1_text" y="10" x="0" style="fill: #00245a; font-size: 9px; font-family:Roboto, Helvetica Neue, sans-serif;">
                    0
                </text>
            </svg>
        </ng-container>
        <ng-container *ngIf="shows[1]">
            <rect id="rect2_1" class="can-hover-block21" x="340" y="190" width="40" height="310"
                  stroke="black" fill="#000000" stroke-dasharray="3 4" (mouseover)="opacity('rect2_1', 0.75)" (mouseout)="opacity('rect2_1', 1)">
                <title> {{ ('GENERAL.LABELS.VALUE' | translate) + ': ' + commas(data[2]/1000000000 || 0, 1)}}</title>
            </rect>
            <svg xmlns="http://www.w3.org/2000/svg" x="340">
                <text id="rect2_1_text" x="0" y="10" text-anchor="start" style="fill: #00245a; font-size: 9px; font-family:Roboto, Helvetica Neue, sans-serif;">
                    0
                </text>
            </svg>
        </ng-container>

        <ng-container *ngIf="shows[2]">
            <rect id="rect3_1" class="can-hover-block31" x="450" y="280" width="40" height="270"
                  stroke="black" fill="#000000" stroke-dasharray="3 4" (mouseover)="opacity('rect3_1', 0.75)" (mouseout)="opacity('rect3_1', 1)">
                <title> {{
                    ('GENERAL.LABELS.VALUE' | translate) + ': ' + commas(data[4]/1000000000 || 0, 1) +
                    '\n '+ ('GENERAL.LABELS.VO' | translate) +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ' + commas(data[5]/1000000000 || 0, 1)}}</title>
            </rect>

            <rect id="rect3_2" x="450" y="230" width="40" height="19"
                  stroke="black" fill="#000000" stroke-dasharray="3 4" (mouseover)="opacity('rect3_2', 0.75)" (mouseout)="opacity('rect3_2', 1)">
                <title> {{
                    ('GENERAL.LABELS.VALUE' | translate) + ': ' + commas(data[4]/1000000000 || 0, 1)  +
                    '\n '+ ('GENERAL.LABELS.VO' | translate) +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ' + commas(data[5]/1000000000 || 0, 1)}}</title>
            </rect>
            <svg xmlns="http://www.w3.org/2000/svg" x="450">
                <text id="rect3_1_text" x="0" y="10" text-anchor="start" style="fill: #00245a; font-size: 9px; font-family:Roboto, Helvetica Neue, sans-serif;">
                    0
                </text>
            </svg>
        </ng-container>

        <ng-container *ngIf="shows[3]">
            <rect id="rect4_1" class="can-hover-block41" x="560" y="220" width="40" height="270"
                  stroke="black" fill="#000000" stroke-dasharray="3 4" (mouseover)="opacity('rect4_1', 0.75)" (mouseout)="opacity('rect4_1', 1)">
                <title> {{
                    ('GENERAL.LABELS.VALUE' | translate)+'\t: ' + commas(data[6]/1000000000 || 0, 1) +
                    '\n '+ ('GENERAL.LABELS.REMAIN' | translate) +': ' + commas(data[7]/1000000000 || 0, 1)}}</title>
            </rect>

            <rect id="rect4_2" x="560" y="230" width="40" height="19"
                  stroke="black" fill="#000000" stroke-dasharray="3 4" (mouseover)="opacity('rect4_2', 0.75)" (mouseout)="opacity('rect4_2', 1)">
                <title> {{
                    ('GENERAL.LABELS.VALUE' | translate)+'\t: ' + commas(data[6]/1000000000 || 0, 1) +
                    '\n ' + ('GENERAL.LABELS.REMAIN' | translate) + ': ' + commas(data[7]/1000000000 || 0, 1)}}</title>
            </rect>
            <svg xmlns="http://www.w3.org/2000/svg" x="560">
                <text id="rect4_1_text" x="0" y="10" text-anchor="start" style="fill: #00245a; font-size: 9px; font-family:Roboto, Helvetica Neue, sans-serif;">
                    0
                </text>
            </svg>
        </ng-container>
    </svg>
    <div class="text-center my-note">
        <div class="divme">
            <div class="outer-legend">
                <div id="plan_receivable" class="plan-receivable-color" (click)="toogle(0)"></div><span class="margin-span" (click)="toogle(0)">{{'GENERAL.LABELS.RECEIVABLE_PLAN' | translate}}</span>
            </div>
            <div class="outer-legend">
                <div id="real_receivable" class="real-receivable-color" (click)="toogle(1)"></div><span class="margin-span" (click)="toogle(1)">{{'GENERAL.LABELS.RECEIVABLE' | translate}}</span>
            </div>
            <div class="outer-legend">
                <div id="plan_payable" class="plan-payable-color" (click)="toogle(2)"></div><span class="margin-span" (click)="toogle(2)">{{'GENERAL.LABELS.PAYABLE_PLAN' | translate}}</span>
            </div>
            <div class="outer-legend">
                <div id="real_payable" class="real-payable-color" (click)="toogle(3)"></div><span class="margin-span" (click)="toogle(3)">{{'GENERAL.LABELS.PAYABLE' | translate}}</span>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="data.length === 2 && !errorData">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 370" style="width: 100%;">
        <line x1="85" y1="350" x2="750" y2="350" style="stroke:#0000007d;stroke-width:1" />
        <svg xmlns="http://www.w3.org/2000/svg" x="0">
            <text x="80" y="353"  text-anchor="end" style="fill: #666666; font-size: 11px; font-family:Roboto, Helvetica Neue, sans-serif">0</text>
        </svg>
        <line x1="100" y1="0" x2="100" y2="365" style="stroke:#0000007d;stroke-width:1" />

        <ng-container *ngFor="let y of xAxyses; let i = index;">
            <svg xmlns="http://www.w3.org/2000/svg" x="0" id="ticker_label_{{i}}">
                <text x="80" y="10"  text-anchor="end" style="fill: #666666; font-size: 11px; font-family:Roboto, Helvetica Neue, sans-serif"> {{commas(y/1000000000, 0)}}</text>
            </svg>
            <line x1="86" x2="750" id="ticker_{{i}}" style="stroke:#00000047;stroke-width:1" />
        </ng-container>
        <ng-container *ngIf="shows[0]">
            <rect id="rect1" class="can-hover-block21" x="280" y="190" width="40" height="310"
                  stroke="black" fill="#000000" stroke-dasharray="3 4" (mouseover)="opacity('rect1', 0.75)" (mouseout)="opacity('rect1', 1)">
                <title> {{('GENERAL.LABELS.VALUE' | translate)+': ' + commas(data[0]/1000000000 || 0, 1)}}</title>
            </rect>
            <svg xmlns="http://www.w3.org/2000/svg" x="280">
                <text id="rect1_text" x="0" y="10" text-anchor="start" style="fill: #00245a; font-size: 9px; font-family:Roboto, Helvetica Neue, sans-serif;">
                    0
                </text>
            </svg>
        </ng-container>
        <ng-container *ngIf="shows[1]">
            <rect id="rect2" class="can-hover-block31" x="420" y="230" width="40" height="270"
                  stroke="black" fill="#000000" stroke-dasharray="3 4" (mouseover)="opacity('rect2', 0.75)" (mouseout)="opacity('rect2', 1)">
                <title> {{('GENERAL.LABELS.VALUE' | translate)+': ' + commas(data[1]/1000000000 || 0, 1)}}</title>
            </rect>
            <svg xmlns="http://www.w3.org/2000/svg" x="420">
                <text id="rect2_text" x="0" y="10" text-anchor="start" style="fill: #00245a; font-size: 9px; font-family:Roboto, Helvetica Neue, sans-serif;">
                    0
                </text>
            </svg>
        </ng-container>
    </svg>
    <div class="text-center my-note">
        <div class="divme">
            <div class="outer-legend">
                <div id="total_line" class="total-line-color" (click)="toogle(0)"></div><span class="margin-span" (click)="toogle(0)">{{'GENERAL.LABELS.TOTAL_LINE' | translate}}</span>
            </div>
            <div class="outer-legend">
                <div id="total_bill" class="total-bill-color" (click)="toogle(1)"></div><span class="margin-span" (click)="toogle(1)">{{'GENERAL.LABELS.TOTAL_BILL' | translate}}</span>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="errorData">
</ng-container>