mixin content
	// Menu item content
	i.direction__icon(
		*ngIf='directions[ key ]?.data?.icon',
		[ngClass]='directions[ key ]?.data?.icon')

// Menu
.layout-column.flex-noshrink
	// Menu item
	.layout-column(*ngFor='let key of keys')
		// Menu anchor with path
		a.layout-column(
			*ngIf='directions[ key ]?.path',
			matTooltipPosition='right',
			style='position: relative;',
			[matTooltip]='directions[ key ]?.data?.title | translate',
			[routerLink]='directions[ key ]?.path',
			[routerLinkActive]='[ "active" ]')
			// Menu item content
			+content
			ng-container(*ngIf="directions[ key ]?.counter" )
				span(
					*ngIf="directions[ key ].counter > 9"
					style='position: absolute; top:16px; right: 13px; padding: 3px 5px; border-radius: 50%; background-color: red; color: white; font-size: 8pt;'
				)
					| {{ '9+' }}
				span(
					*ngIf="directions[ key ].counter <= 9"
					style='position: absolute; top:16px; right: 13px; padding: 3px 8px; border-radius: 50%; background-color: red; color: white; font-size: 8pt;'
				)
					| {{ directions[ key ].counter }}

		// Menu anchor without path
		a(
			*ngIf='!directions[ key ]?.path',
			matTooltipPosition='right',
			[matTooltip]='directions[ key ]?.data?.title | translate')
			// Menu item content
			+content
