.company-libraries
	mat-card.mat-elevation-z8
		mat-card-title
			| Company Libraries Content
		mat-card-content
			.pt-1.row
				.col-md-4
					.row
						.col-md-12.text-left.my-auto.pb-1
							strong Search
			.row(style='padding: 15px 0;')
				.col-md-4
					.row
						.col-md-12.text-left.my-auto.pb-1(style='position: relative')
							input.form-control(type='text', (keydown) = 'checkSearch($event)', [(ngModel)] = 'search', placeholder='Keyword')
							i.fa.fa-search(style='position: absolute; top: 6px; right: 25px; font-size: 25px', (click) = 'getAll()')
			.company-container
				.layout-row.layout-align-end-center.mb-10
					.layout-row
						button(
							mat-raised-button,
							class='action-button',
							color='primary',
							type='button',
							(click)='uploadNewFile()')
							| {{ "GENERAL.LABELS.UPLOAD" | translate }}
						input(
							#fileInput, type='file',
							(change) = 'onFileChange($event)', style='display: none;',
							accept='.rar,.zip,.7z,image/*,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document'
						)
				table.table.table-striped.table-hover.table-files
					thead
						tr
							th(style="width:10%") #
							th(style="width:70%") File Name
							th(style="width:20%") Action
					tbody
						ng-container(*ngIf="data.length < 1")
							tr
								td(colspan='3', class='no-data') No data
						ng-container(*ngFor="let file of data; let fileIndex = index;" )
							tr
								td(style="width:10%") {{fileIndex + 1 }}
								td(style="width:70%") {{ file.name }}
								td(style="width:20%")
									span.download-item((click)="download(file.real_name)", [title]='("GENERAL.ATTRIBUTES.DOWNLOAD" | translate)')
										i.fa.fa-download
									span.delete-item(*ngIf="canDelete()" , (click)="remove(file.real_name)", [title]='("GENERAL.LABELS.DELETE" | translate)', style='margin-left: 10px;')
										i.fa.fa-trash