.page
    sidebar
        sidebar-item(
            [routerLinkActive]='[ "active" ]',
            [routerLink]='"/finance/libraries/project-libraries"'
        )
            | {{ "FINANCE.LIBRARY.LABELS.PROJECT_LIBRARY" | translate }}
        sidebar-item(
            [routerLinkActive]='[ "active" ]',
            [routerLink]='"/finance/libraries/company-libraries"'
        )
            | {{ "FINANCE.LIBRARY.LABELS.COMPANY_LIBRARY" | translate }}

    .page__content
        .container
            router-outlet