.project-libraries
	mat-card.mat-elevation-z8
		mat-card-title
			| Project Libraries Content
		mat-card-content
			.pt-1.row
				.col-md-4
					.row
						.col-md-12.text-left.my-auto.pb-1
							strong Search
			.row(style='padding: 15px 0;')
				.col-md-4
					.row
						.col-md-12.text-left.my-auto.pb-1(style='position: relative')
							input.form-control(type='text', (keydown) = 'checkSearch($event)', [(ngModel)] = 'search', placeholder='Keyword')
							i.fa.fa-search(style='position: absolute; top: 6px; right: 25px; font-size: 25px', (click) = 'getAll()')
			.project-container
				ng-container(*ngIf="itemsList('project').length < 1" )
					.col-md-12.no-data
						| No data
				ng-container(*ngFor="let project of itemsList('project'); let projectIndex = index;" )
					.col-md-3
						.directory(
							[title]='getProjectInfo(project)',
							*ngIf="projectsCollapse[projectIndex]" ,
							(click)='projectsCollapse[projectIndex] = !projectsCollapse[projectIndex]')
							p {{ project.name }}
					p.col-md-12(
						*ngIf="!projectsCollapse[projectIndex]",
						(click)='projectsCollapse[projectIndex] = !projectsCollapse[projectIndex]')
						i.fas.fa-arrow-up
							span(style='margin-left: 10px') {{ 'Project: ' + project.name }}
					div(*ngIf="!projectsCollapse[projectIndex]",
						style="padding-left: 15px"
					)
						ng-container(*ngFor="let content of getProjectContent(project)" )
							.col-md-3
								.directory.pl-2(
									[title]='getProjectContentInfo(content)',
									*ngIf="content.name === 'Bills' && content.collapse" ,
									(click)='content.collapse = !content.collapse')
									p {{ content.name }}
							p.col-md-12(
								*ngIf="content.name === 'Bills' && !content.collapse",
								(click)='content.collapse = !content.collapse')
								i.fas.fa-arrow-up.pl-2
									span(style='margin-left: 10px') {{ 'Type: ' + content.name }}
							div(*ngIf="content.name === 'Bills' && !content.collapse",
								style="padding-left: 20px"
							)
								ng-container(*ngFor="let bill of getBills(project)" )
									.col-md-3
										.directory(
											[title]='getBillInfo(project.id, bill)',
											*ngIf="bill.collapse" ,
											(click)='bill.collapse = !bill.collapse')
											p {{ bill.name }}
									p.col-md-12(
										*ngIf="!bill.collapse",
										(click)='bill.collapse = !bill.collapse')
										i.fas.fa-arrow-up
											span(style='margin-left: 10px') {{ 'Bill: ' + bill.name }}
									div(*ngIf="!bill.collapse",
										style="padding-left: 25px"
									)
										table.table.table-striped.table-hover.table-files
											thead
												tr
													th(style="width:10%") #
													th(style="width:70%") File Name
													th(style="width:20%") Action
											tbody
												ng-container(*ngFor="let file of getBillFiles(project.id, bill.id); let fileIndex = index;" )
													tr
														td(style="width:10%") {{fileIndex + 1 }}
														td(style="width:70%") {{ file.name }}
														td(style="width:20%")((click)="download(file.real_name)")
															.download-item
																| {{ "GENERAL.ATTRIBUTES.DOWNLOAD" | translate }}
							p.col-md-12(
								*ngIf="content.name === 'Payables' && !content.collapse",
								(click)='content.collapse = !content.collapse')
								i.fas.fa-arrow-up.pl-2
									span(style='margin-left: 10px') {{ 'Type: ' + content.name }}
							div(*ngIf="content.name === 'Payables' && !content.collapse",
								style="padding-left: 20px"
							)
								ng-container(*ngFor="let payable of getPayables(project)" )
									.col-md-3
										.directory(
											[title]='getPayableInfo(project.id, payable)',
											*ngIf="payable.collapse" ,
											(click)='payable.collapse = !payable.collapse')
											p {{ payable.name }}
									p.col-md-12(
										*ngIf="!payable.collapse",
										(click)='payable.collapse = !payable.collapse')
										i.fas.fa-arrow-up
											span(style='margin-left: 10px') {{ 'Payable: ' + payable.name }}
									div(*ngIf="!payable.collapse",
										style="padding-left: 25px"
									)
										table.table.table-striped.table-hover.table-files
											thead
												tr
													th(style="width:10%") #
													th(style="width:70%") File Name
													th(style="width:20%") Action
											tbody
												ng-container(*ngFor="let file of getPayableFiles(project.id, payable.id); let fileIndex = index;" )
													tr
														td(style="width:10%") {{fileIndex + 1 }}
														td(style="width:70%") {{ file.name }}
														td(style="width:20%")((click)="download(file.real_name)")
															.download-item
																| {{ "GENERAL.ATTRIBUTES.DOWNLOAD" | translate }}