.table-procedure.p-10
    div(matDialogTitle)
        | Bill Procedure Attachments
    div(matDialogContent)
        .table-attachment
            .layout-row.layout-align-end-center.mb-10
                .layout-row
                    button(
                        mat-raised-button,
                        class='action-button',
                        color='primary',
                        type='button',
                        (click)='uploadNewFile()')
                        | {{ "GENERAL.LABELS.UPLOAD" | translate }}
                    input(
                        #fileInput, type='file',
                        (change) = 'onFileChange($event)', style='display: none;',
                        accept='image/*,application/pdf'
                        )
            mat-table.mb-20(
                #table,
                plugin-data-table,
                [dataSource]='dataSource',
                [attr.data-label]='!dataSource.filteredData?.length ? ( "GENERAL.MESSAGES.NO_DATA" | translate ) : ""')
                // No Column
                ng-container(matColumnDef='no')
                    mat-header-cell.w-70(*matHeaderCellDef)
                        | {{ "GENERAL.ATTRIBUTES.#" | translate }}
                    mat-cell.w-70(*matCellDef='let element; let i = index;')
                        .font-weight-500
                            | {{ pad(i + 1, 2) }}
                // Filename Column
                ng-container(matColumnDef='name')
                    mat-header-cell(*matHeaderCellDef)
                        | {{ "GENERAL.ATTRIBUTES.FILE_NAME" | translate }}
                    mat-cell(
                        *matCellDef='let element', (click)="download(element.real_name)", [title]='"GENERAL.ATTRIBUTES.DOWNLOAD" | translate' )
                        .font-weight-500
                            span(class='file_download')
                                | {{ element?.name || "" }}
                // Actions Column
                ng-container(matColumnDef='actions')
                    mat-header-cell.w-70(*matHeaderCellDef)
                        | {{ "GENERAL.ATTRIBUTES.ACTION" | translate }}
                    mat-cell.w-70(*matCellDef='let element', [title]='"GENERAL.LABELS.DELETE" | translate')
                        action-button(
                            color='warn',
                            class='action-button',
                            icon='fa fa-trash',
                            (onClick)='remove(element.real_name)')
                mat-header-row(*matHeaderRowDef='displayedColumns')
                mat-row(*matRowDef='let row; columns: displayedColumns;')
    div(
        matDialogActions,
        align='end')
        button(
            mat-raised-button,
            type='button',
            class='action-button',
            (click)='closeDiaglog()')
            | {{ "GENERAL.LABELS.CLOSE" | translate }}
