form.dialog-plan-approver.layout-column(
    [formGroup]='approveForm',
    (submit)='update()')
    h1(matDialogTitle)
        | {{ billProcedureApprove.status === 2 ? ("GENERAL.LABELS.APPROVE" | translate) : ("GENERAL.LABELS.REJECT" | translate) }}

    div(matDialogContent)
        .mb-20([innerHtml]='billProcedureApprove?.confirmation')

        .layout-column.layout-fixer-15
            mat-form-field.ph-15(
                floatLabel='always',
                appearance='outline')
                mat-label
                    | {{ "GENERAL.LABELS.COMMENT" | translate }}
                textarea(
                    matInput,
                    rows='5',
                    [(ngModel)]='billProcedureApprove.comment',
                    [placeholder]='"GENERAL.PLACEHOLDERS.COMMENT" | translate',
                    [formControl]='approveForm?.controls[ "comment" ]',
                    [disableControl]='isSubmitting',
                    ngDefaultControl)

    div(
        matDialogActions,
        align='end')
        button(
            mat-raised-button,
            type='button',
            [disabled]='isSubmitting',
            (click)='onNoClick()')
            | {{ "GENERAL.LABELS.CANCEL" | translate }}
        button(
            mat-raised-button,
            type='submit',
            color='accent')
            .layout-row.layout-align-center-center
                .flex-auto
                    ng-template([ngIf]='!isSubmitting')
                        | {{ "GENERAL.LABELS.OK" | translate }}
                    ng-template([ngIf]='isSubmitting')
                        | {{ "GENERAL.LABELS.PLEASE_WAIT" | translate }}
                mat-spinner.ml-5(
                    *ngIf='isSubmitting',
                    diameter='20')
