.page
	.page__content
		.container
			button(
				mat-raised-button,
				color='success')
				i.fa.fa-download.mr-10
				| {{ "FINANCE.PROJECT.LABELS.EXPORT" | translate }}
			include blocks/table-procedure.partial.pug
