.dashboard.page
	.page__content
		.container
			.layout-row.layout-align-start-center.filters.mb-15
				.layout-row.layout-align-start-center.mr-20
					.mr-10.text-primary.font-weight-600.w-120
						| {{ "GENERAL.LABELS.FILTERED_BY_DATE" | translate }}:
					filter-box.ph-5.w-220(
						type='datepicker',
						rangeMode='true',
						[(filter)]='filters.date',
						(applyFilter)='updateCharts()',
						[disabled]='!loaded')
				.layout-row.layout-align-start-center.mr-20
					.mr-10.text-primary.font-weight-600([style.width]='("LANGUAGES" | translate) === 0 ? "50px" : "155px"')
						| {{ "FINANCE.CLIENT.LABELS.CLIENT" | translate }}:
					filter-box.ph-5.w-300(
						type='filter',
						fieldName='short_name',
						multiple='true',
						[(filter)]='filters.client_ids',
						(applyFilter)='onClientChange();',
						[placeholder]='"FINANCE.CLIENT.PLACEHOLDERS.CLIENT" | translate',
						[disabled]='!loaded',
						[data]='clients')
				.layout-row.layout-align-start-center
					.mr-10.text-primary.font-weight-600([style.width]='("LANGUAGES" | translate) === 0 ? "120px" : "108px"')
						| {{ "FINANCE.PROJECT.LABELS.PROJECT" | translate }}:
					filter-box.ph-5.w-300(
						type='filter',
						multiple='true',
						[(filter)]='filters.project_ids',
						(applyFilter)='updateCharts()',
						[disabled]='!loaded',
						[placeholder]='"FINANCE.PROJECT.PLACEHOLDERS.PROJECT" | translate',
						[data]='filteredProjects')
			.layout-row.layout-align-start-center.filters.mb-15
				.layout-row.layout-align-start-center.mr-20
					.mr-10.w-120
					.ph-5.w-220
				.layout-row.layout-align-start-center.mr-20
					.mr-10.text-primary.font-weight-600([style.width]='("LANGUAGES" | translate) === 0 ? "50px" : "155px"')
						| {{ "FINANCE.USER.LABELS.SALE" | translate }}:
					filter-box.ph-5.w-300(
						type='filter',
						fieldName='full_name',
						multiple='true',
						[(filter)]='filters.saler_ids',
						(applyFilter)='onSalerChange()',
						[placeholder]='"FINANCE.USER.LABELS.SALE" | translate',
						[data]='salers || []')
				.layout-row.layout-align-start-center
					.mr-10.text-primary.font-weight-600([style.width]='("LANGUAGES" | translate) === 0 ? "120px" : "108px"')
						| {{ "FINANCE.USER.LABELS.PROJECT_MANAGER" | translate }}:
					filter-box.ph-5.w-300(
						type='filter',
						fieldName='full_name',
						multiple='true',
						[(filter)]='filters.manager_ids',
						(applyFilter)='onManagerChange()',
						[placeholder]='"FINANCE.USER.LABELS.PROJECT_MANAGER" | translate',
						[data]='managers || []')
			.row.mb-20
				.col-md-5
					span.text-primary.mb-5
						| {{ "FINANCE.PROJECT.LABELS.RECEIVABLES" | translate }}:&nbsp;
					span.text-success.font-size-18
						| {{ ( project_static?.receivable || 0 )?.toFixed( 0 ) | commas }}&nbsp;
					span.text-primary.font-size-18
						| /
						| {{ (project_static?.receivable_plan || 0).toFixed(2) | commas }}
						| ({{ (project_static?.receivable_plan) ? (project_static?.receivable * 100 / project_static?.receivable_plan).toFixed(2) : '0' }}%)
					mat-progress-bar.custom-mat-progress-bar.h-15(
						[value]='(project_static?.receivable_plan) ? (project_static?.receivable * 100 / project_static?.receivable_plan) : 0',
						[style.color]="'#38ae00'")
				.col-md-2
					.profit-block
						div(style='font-weight: bold; margin-top: 21px; font-size: 17px', [style.color]='project_static?.receivable_plan * 100 / project_static?.payable_plan >= setting?.value ? "green" : "orange"')
							| {{ (project_static?.receivable_plan ? (project_static?.receivable_plan * 100 / project_static?.payable_plan) : 0).toFixed(1) | commas }}%
				.col-md-5
					span.text-primary.mb-5
						| {{ "FINANCE.PROJECT.LABELS.PAYABLES" | translate }}:&nbsp;
					span.text-warning.font-size-18
						| {{ ( project_static?.payable || 0 )?.toFixed( 0 ) | commas }}&nbsp;
					span.text-primary.font-size-18
						| /
						| {{ ( project_static?.payable_plan || 0 )?.toFixed( 0 ) | commas }}
						| ({{ project_static?.payable_plan ? (project_static?.payable * 100 / project_static?.payable_plan).toFixed(2) : '0' }}%)
					mat-progress-bar.custom-mat-progress-bar.h-15(
						[value]='project_static?.payable_plan ? project_static?.payable * 100 / project_static?.payable_plan : 0',
						[style.color]="'#fd8631'")
			.row.mb-20
				.col-md-9
					.layout-row.layout-align-space-between
						mat-radio-group.pt-20(
							[(ngModel)]='chartViewType',
							(change)='chartViewChange( $event )',
							ngDefaultControl)
							mat-radio-button.mr-15([value]='REAL_AND_PLAN')
								| {{ "FINANCE.PROJECT.LABELS.GROSS_REAL_AND_PLAN" | translate }}
							mat-radio-button.mr-15([value]='REAL_ONLY')
								| {{ "FINANCE.PROJECT.LABELS.SEPARATE_REVENUE_AND_EXPENDITURE" | translate }}
						.mv-15
							mat-button-toggle-group(
								[(ngModel)]='filters.type',
								(change)='updateCharts()')
								mat-button-toggle(value='week')
									| {{ "GENERAL.LABELS.WEEK" | translate }}
								mat-button-toggle(value='month')
									| {{ "GENERAL.LABELS.MONTH" | translate }}

					mat-card.mat-elevation-z8
						canvas(
							baseChart,
							[datasets]="masterChartDatasets",
							[labels] = "masterChartLabels",
							[colors] = "masterChartColors",
							[options] = "masterChartOptions",
							legend='true',
							chartType='bar')
					ng-container(*ngIf="chartDatasets[0].data.length && chartDatasets[1].data.length")
						mat-card.mat-elevation-z8.mt-20
							canvas(
								baseChart,
								[labels]='chartLabels',
								[datasets]='chartDatasets',
								[colors]='chartColors',
								[options]='chartOptions',
								legend='true',
								chartType='line')
					div(style='padding: 16px;', *ngIf="!(chartDatasets[0].data.length && chartDatasets[1].data.length)")
						div.row
							mat-card.col-md-12.mat-elevation-z8
								div(style='margin-left: 15px; margin-right: 20%;')
									svg(xmlns='http://www.w3.org/2000/svg', style='width: 100%; height: 30px;')
										text.chart-title(x='0' y='25' style='fill: #666666; font-weight: bold; font-size: 31px; font-family:Roboto, Helvetica Neue, sans-serif')
											| {{ "FINANCE.PROJECT.LABELS.CASH_FLOW" | translate }}
									span(style="font-weight: bold; font-size: 18pt")
										| {{ "GENERAL.MESSAGES.NO_DATA" | translate }}
					ng-container(*ngIf="rrpChartDatasets[0].data.length && rrpChartDatasets[1].data.length && rrpChartDatasets[2].data.length")
						mat-card.mat-elevation-z8.mt-20
							canvas(
								baseChart,
								[labels]='rrpChartLabels',
								[datasets]='rrpChartDatasets',
								[colors]='rrpChartColors',
								[options]='rrpChartOptions',
								legend='true',
								chartType='line')
					div(style='padding: 16px;', *ngIf="!(rrpChartDatasets[0].data.length && rrpChartDatasets[1].data.length && rrpChartDatasets[2].data.length)")
						div.row
							mat-card.col-md-12.mat-elevation-z8
								div(style='margin-left: 15px; margin-right: 20%;')
									svg(xmlns='http://www.w3.org/2000/svg', style='width: 100%; height: 30px;')
										text.chart-title(x='0' y='25' style='fill: #666666; font-weight: bold; font-size: 31px; font-family:Roboto, Helvetica Neue, sans-serif')
											| {{ "FINANCE.PROJECT.LABELS.RECEIVABLE_PAYABLE" | translate }}
									span(style="font-weight: bold; font-size: 18pt")
										| {{ "GENERAL.MESSAGES.NO_DATA" | translate }}
					ng-container(*ngIf="radarChartDatasets[0].data.length || radarChartDatasets[1].data.length")
						mat-card.mat-elevation-z8.mt-20
							canvas(
								baseChart,
								[datasets]="radarChartDatasets",
								[labels] = "radarChartLabels",
								[colors] = "radarChartColors",
								[options] = "radarChartOptions",
								legend='true',
								chartType='radar')
				.col-md-3
					mat-card.mat-elevation-z8(style='max-width: 400px; overflow: auto; margin-bottom: 20px; margin-top: 15px;')
						canvas(
							baseChart,
							[datasets]="pieChartDatasets",
							[labels] = "pieChartLabels",
							[options] = "pieChartOptions",
							legend='true',
							chartType='pie')
					mat-card.mat-elevation-z8
						.row
							.col-md-12.text-right.mb-10
								button(
									mat-raised-button,
									color='success',
									(click)='exportExcel()')
									i.fa.fa-download.mr-10
									| {{ "FINANCE.PROJECT.LABELS.EXPORT" | translate }}
						.table-responsive
							table.table.table-striped.table-hover.table-fixed
								thead
									tr
										th(scope='col', class="col-md-7", style='color: white; background: #00245a')
											| {{ "FINANCE.PROJECT.LABELS.PROJECT_NAME" | translate }}
										th(scope='col', class="col-md-5", style='color: white; background: #00245a')
											| {{ "FINANCE.PROJECT.LABELS.COST" | translate }}
								tbody
									ng-container( *ngIf="dataTable.length < 1" )
										tr
											td(colspan="2", style="text-align: center; font-size: 18pt; font-weight: bold", class="col-md-12")
												| {{ "GENERAL.MESSAGES.NO_DATA" | translate }}
									ng-container( *ngIf="dataTable.length" )
										tr(*ngFor="let item of dataTable" )
											th(scope="row", class="col-md-7 parentCell")
												.text-truncate
													| {{ item.project_name }}
												span(class="tooltiptext")
													| {{ 'project: ' + item.project_name }}
													br
													| {{ 'po: ' + roundNumber(item.po_total, 0) }}
													br
													| {{ 'purchase: ' + roundNumber(item.purchase_total, 0) }}
													br
													| {{ 'cost: ' + roundNumber(item.cost_total, 0) }}
											td.text-right(class="col-md-5")
												span.updown(
													[ngClass]='{"text-success": item.purchase_total + item.po_total - item.cost_total > 0, "text-warn": item.purchase_total + item.po_total - item.cost_total < 0, "text-info": item.purchase_total + item.po_total - item.cost_total === 0 }')
													span(style='margin-right: 1px;')
														| {{ item.cost_total ? ( roundNumber((item.purchase_total + item.po_total - item.cost_total)/item.cost_total * 100, 1) + '%') : 'N/A' }}
													ng-container(*ngIf="item.cost_total && roundNumber(item.purchase_total + item.po_total - item.cost_total, 1) !== '0'" )
														| <i class="fas" [ngClass]='{"fa-arrow-down": item.purchase_total + item.po_total - item.cost_total >= 0, "fa-arrow-up": item.purchase_total + item.po_total - item.cost_total < 0 }'></i>
